<!-- Content of Tabs "manage project members" -->
<ds-alert [content]="helpMessageLabel | translate" [collapsible]="true"></ds-alert>
<ds-members-list *ngIf="groupBeingEdited | async"
                 [messagePrefix]="messagePrefix + '.members-list'"
                 [overrideAdmin]="isFunderOrganizationalManager$ | async"
                 [showEditActions]="false"
                 [showWithdrawActions]="true"
                 [showInvitationPersonSection]="true"
                 [showHeadingTitle]="false"
                 [showId]="false"
                 [showInvitationAction]="true"
                 (addMemberToMultipleGroups)="addMemberToMultipleGroups($event)"
                 (deleteMemberToMultipleGroups)="deleteMemberToMultipleGroups($event)"
                 (sendInvitation)="sendInvitation($event)">
</ds-members-list>
