/* -----------------------------------------------------------
BREADCRUMB (rex 230601)
----------------------------------------------------------- */
/* */
ds-breadcrumbs nav.nav-breadcrumb { // complete bar

  //display:none !important;

  // WORKAROUND WITH BOX-SHADOW, BECAUSE BORDER-BOTTOM DOESN'T WORK
  // because ol.breadcrumb moves inside v.nav.breadcrumb as soon as a border is used.
  // Therefore border-top for breadcrumb bar IS in navbar.component.scss in nav.navbar,
  // and border-bottom here as shadow
  box-shadow: 0 1px 0 var(--ds-header-navbar-border-bottom-color);

  ol.breadcrumb {
    border-radius: 0;
    margin-top: calc(-1 * var(--ds-content-spacing));
    padding-bottom: var(--ds-content-spacing / 3);
    padding-top: var(--ds-content-spacing / 3);
    background-color: transparent; // Breadcrumb-Links had a background-color, that is not needed
  }

  .breadcrumb-item-limiter {
    display: inline-block;
    max-width: var(--ds-breadcrumb-max-length); //truncating too long words
    > * {
      max-width: 100%;
      display: block;
    }
  }

  li.breadcrumb-item {

    display: flex;
    align-items: center;

    &.separator {
      padding-right:0; // Distance between entity tag and record title
    }

    /* "/" between levels: to disable the "/", which is probably defined elsewhere,
    and only put a slash in front of the Entity-Tags .separator */
    &::before {
     content: quote("");
    }
    &.separator::before {
      // as divider fontawesome chevron-right instead of >, because i looks much more better
      font-family: 'Fontawesome';
      font-size:0.7rem;
			content:"\f054";
      //content:"\f105";
      /* deprecated:
      content: quote(">") !important; // replaced "/" */
      font-weight:bold;
      color:var(--sy-breadcrumb-divider-color) !important;
    }

    &.Project, &.active {
      color: var(--ds-breadcrumb-link-active-color) !important;
    }

    // Design of (links inside) Tag (= Entity-Name in Tag-Style)
    &.separator a {
      border:1px solid var(--sy-breadcrumb-tag-border-color);
      padding:2px 8px 2px 8px;
      background-color:var(--sy-breadcrumb-tag-background);
      border-radius:10px 0 0 10px;
      //font-family:'Nunito-MediumItalic';
      font-family:'Nunito-Medium';
    }

    // Colors entity-tag first level "Project" = Verbund
    &.Project.separator a {
      i.fas {color: var(--sy-breadcrumb-link-project-color) !important;} // without "!important! it gets the link color}
      border-color: var(--sy-breadcrumb-border-project-color);
    }

    // Colors entity-tag second level "Funding" = Projekt
    &.Funding.separator a {
      i.fas {color: var(--sy-breadcrumb-link-funding-color) !important;} // without "!important! it gets the link color}
      border-color: var(--sy-breadcrumb-border-funding-color);
    }


  } // end li.breadcrumb-item

} // end ds-breadcrumbs nav.nav-breadcrumb
