/* -----------------------------------------------------------
IMPACT PATHWAY TASK CONTAINER (CARD)
----------------------------------------------------------- */
// card (defined in src/app/impact-pathway-board/shared/impact-path-way/impact-path-way-task/impact-path-way-task.component.html)
// on 1st level responsive, on 2nd level not
.task-container {

  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  /* doesn't work, although rgba(rgb(0,0,0),0.5) works
  box-shadow: 2px 2px 4px rgba(var(--sy-color-gray-0),0,5); */

  min-width:10rem; //underneath there are misrepresentations d
  /* the original white background color of the cards does not come from the cards themselves,
  but seems to be a responsive layoer underneath, but I could not find out its origin */
  // excluding the following classes from the white background color (ex. on compare mode)
    &:not(.alert-danger):not(.alert-success):not(.task-disabled):not(.task-focus):not(.bg-gradient-light) {
        background-color: var(--sy-color-gray-100);
      }

  // left sidebar with drag'n drop icon
  .task-left-bar {
    width:1.6rem;
    min-width:1.6rem !important; // so that it is not compressed by save button
    button.button-move {
      &:hover {background-color:transparent}
      i {font-size:0.9rem;}
    }
  }

  // right area of card with content and footer
  .task-right-bar {
    padding:0.6rem 0.6rem 0.4rem 0.6rem;


    // content
    .task-detail {
      padding:0 !important;

      // status-icons beside the title of card
      .row-status-icons {
        position:relative;
        margin-top:-0.2rem !important;
        .status-icon {
          i {font-size:0.9rem;}
        } // end .status-icon
      } // end .row-status-icons

      /* Entity-Type
      unclear why this area is called content even though it only contains the entity type,
      but have left it that way not knowing if this class has any special effects yet. */
      div.task-content {
        padding:0 !important;

        // additional class of Entity label, when the arrow-overlay is activated
        &.task-overlay-hide {
          //margin-bottom:1rem !important; // makes card higher for the additional overlay-text
          //transition: margin-bottom 100ms ease; // animation
        }

        .task-type {
          font-size:0.8rem;
          font-family:'Nunito-ExtraLight';
        }

      } // end  div.task-content

      // Title of Card
      div.task-header {
        padding:0 !important;
        margin-top:0.3rem;
        margin-bottom:1.2rem;

        div.task-title {
          font-family:'Nunito-Bold';
          line-height:1.1rem;
        }

      } // end div.task-header

    } // end .task-detail

  // footer of IP-Card with icon-buttons
  .task-actions {
    padding:4px 0 0 0;

    button {
      white-space: nowrap; // prevents line break in buttons
    }

    // single icon-button
    button.btn-link {
      padding:0.5rem !important;
      height:auto;
      width:auto;
      &[disabled]{ opacity:0; } // hides disabled action buttons completely, when overlay is active

      span.span-icon-container i { font-size:1rem; }
      i.fa-save { color: var(--sy-color-blue-33) !important; } // makes black save-icon blue

      // hover-Effect for icon-Buttons,
      &:hover { background-color:var(--sy-color-blue-94); }

    } // end button.btn-link

  } // end .task-actions

  /* Overlay for Arrow Function in
  src/app/impact-pathway-board/shared/impact-path-way/impact-path-way-task/impact-path-way-task.component.html */
  .task-overlay {

    background-color:var(--sy-color-blueviolet-95) !important;
    //border-top:1px solid rgba(0,0,0,0.2);
    border-top:1px solid var(--sy-color-gray-96);

    transition: background-color 200ms;
    left:-1.6rem; // Width of the drag'n drop sidebar, as the overlay drags over it on the left as well
    width:calc(100% + 1.6rem);
    padding:0.5rem 0.3rem 1rem 0.3rem !important;

    // contains Overlay with Checkbox, bigger than overlay alone
    mat-checkbox {

        .mat-checkbox-frame {
          border-color:var(--sy-color-blueviolet-53);
          background-color:var(--sy-color-gray-100)
        }
        label {
          font-size:0.9rem;
          text-align:right;
          line-height:1.1rem !important;
          padding-right:0.3rem; // distance to checkbox
        } // Text

      &.mat-checkbox-checked {

        .mat-checkbox-frame {
          border-color:var(--sy-color-blueviolet-53)!important;
          box-shadow:0 0 8px 1px var(--sy-color-magenta-50); // glow around checkbox
        }
        svg path {stroke:var(--sy-color-blueviolet-53)!important;}

      }


    } // end mat-checkbox

  } // end .task-overlay

} // end .task-right-bar

} // end .task-container
