/* -----------------------------------------------------------
NAV-TABS (rex 230303)

DOCUMENTATION:
nav-tabs are used in two different ways in HTML code.
Therefore the tabs here are addressed via nav as well as via ul

1. with nav and a
in manage project members: src/app/project-members-page/project-members-page.component.html

<nav class="nav-tabs nav">
  <a class="nav-link nav-item active">Active Tab</a>
</nav>

2. with ul, li and a
in create-new-entry-modal: src/app/shared/create-simple-item-modal/create-simple-item-modal.component.html
in events/diagrams: /src/app/shared/search/search-charts/search-charts.component.html

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active">Active Tab</a>
  </li>
</ul>
----------------------------------------------------------- */

 // Wole list. Only the bottom line is needed
 ul.nav-tabs,
 nav.nav-tabs {
  border:none;
  border-bottom:1px solid var(--sy-nav-tabs-border-color);
 }

 // remove original bootstrap formatting
 ul.nav-tabs li.nav-item {
  border:none;
  margin-right:0 !important;
 }

 ul.nav-tabs li.nav-item a.nav-link,
 nav.nav-tabs a.nav-item {
  border:none;
  border-bottom:3px solid transparent; // invisible border, so that it does not jerk with hover and active
  margin-right:0.8rem;
  padding:0.4rem 0.2rem;
  color:var(--sy-nav-tabs-text-color) !important; // blue links
  font-family:'Nunito-SemiBold',sans-serif;
  @include transition(all .3s ease-in-out); // soft hover-animation

  // sequence order of hover und active important because of specifity!
  &:hover {
    border-bottom:3px solid var(--sy-nav-tabs-hover-border-color);
  }
  &.active, &.active:hover, &.active:focus, &.active:active {  // für alle states, damit nicht auf hover reagiert
    border-bottom:3px solid var(--sy-nav-tabs-active-border-color) !important; // farbig
    color:var(--sy-nav-tabs-active-text-color) !important; // farbig
    background-color:transparent;
    cursor:auto;
  }
 }

 // content accessed via tab navigation
 .tab-content {
  background-color:var(--sy-tab-content-background);
  padding:1.5rem;
  border:1px solid var(--sy-tab-content-border-color);
  border-top:none; // otherwise the border-bottom of the tab-ul will be combined with a thick frame
  margin-top:0 !important; // so that tab-content connects directly to the navigation
  //.form-group {border:5px solid lime;} container with buttons, but due to lack of classes no more specific design possible, also the hr above buttons
}