/* -----------------------------------------------------------
WORKING PLAN
additional styles to src/app/working-plan/working-plan-chart/container/working-plan-chart-dates/working-plan-chart-dates.component.scss
----------------------------------------------------------- */

ds-working-plan-page {

  // Toolbar with add-button and Switch monthly/quarterl/annually
  mat-toolbar mat-toolbar-row {
    button.button-add-workpackage {
      i {font-size:110%;} // make large +-button smaller
      &[disabled]{display:none !important;} // hide buttons in compare-mode
    }
  }

/* ------------------------------------------------------------------------
 First Column with Header (with Functions / Buttons) and
 Content (Header-Cells with Titles, Entity-Names, Status-Icons and Buttons)
 ------------------------------------------------------------------------ */
.chart-column.names.sidenav {

  // header of second column (with dropdown time period and tottle-button to hide the second column)
  div.sidenav-header {
    // hide disabled sort-buttons in compare-mode
    button#sortBy[disabled]{display:none !important;}
  }

  // Content with all table rows
  mat-tree.tree {

    // Single Row
    mat-tree-node {

      // Strong highlighting of newly added data row
      &.calendar-title-cell-now-added {
        background-color:var(--sy-table-cell-background-now-added);
        border-top:1px solid var(--sy-table-border-color);
        border-bottom:1px solid var(--sy-table-border-color);
      }

      // distinction first and second level of data rows: if first div is .rootnodestyle, it's a first level row
      & > div:first-of-type {

        // all rows
        // left bar with drag'n drop button
        // stronger left border
        border-left: 1px solid var(--sy-table-border-color);

        // softer right border
        border-right: 1px dotted var(--sy-table-border-color);

        // first level rows
        &.root-node-style {
          background-color: var(--sy-table-cell-background-darker-2);
        }
        // second level rows
        &:not(.root-node-style) {
          background-color: var(--sy-table-cell-background-darker-1);
          margin-right:10px;
        }
      }

      // Compare-Mode: New data
      &.compare-node-status-new > div:first-of-type {
        background-color:var(--sy-compare-data-new-background);
      }
      // Compare-Mode: Deleted data
      &.compare-node-status-deleted > div:first-of-type {
        background-color:var(--sy-compare-data-deleted-background);
      }


      // left sidebar of first level row with dragn'drop button and toggle open/close-button
      .row-sidebar {
        // hides the disabled drag'n drop button in compare-mode (opacity instead of display to prevent to change positions of buttons)
        .mat-button-disabled {opacity:0 !important;}
      }

      // left part of row header with text and buttons
      div.row-header-left {

        // Entity-Name
        span.entity-text {
          font-size:0.8rem;
          font-family:'Nunito-ExtraLight'!important;
          font-weight:100 !important;
          line-height:1rem !important;
          color:var(--sy-color-gray-0) !important;
        }
        // Title of Data
        p.data-title-text.block-ellipsis {
          font-family:'Nunito-Bold';
          line-height:1.1rem;
          color:var(--sy-links-color); // is not a link in the HTML code, so it must be colored extra link-blue
          margin-top:5px; // distance between entity-name and data-title
        }

        div.task-actions-button-row {

          button.button-add {
            &[disabled]{display:none !important;} // hide buttons in compare-mode
          }

          div.destructive-buttons {
            display:inline-block !important; // so that the buttons appear in a row next to the add button
            margin-right:15px;

            // delete- and unlink-buttons
            ds-working-plan-chart-item-delete-button.button-delete {
              button[disabled="true"]{display:none !important;}  // hide buttons in compare-mode
            }
            button.button-unlink {
              &[disabled="true"]{display:none !important;}  // hide buttons in compare-mode
            }

          } // end .destructive-buttons

        } // end div.task-actions-button-row

      } // end row-header-left


      // right block with status icons and edit icon
      div.row-header-right {
        width:2rem; // to ensure a consistent width even if there are no status icons
        padding:0 4px;

        // vertical column with status-icon and comment-icon
        div.sy-status-icons {
          margin-bottom: auto; // positions status-icons at the top
          margin-left:4px;

          // block with status-icon
          div.sy-status-icon {
            margin-bottom: auto; // positions status-icon at the top
          }

          // speech-bubble-icon for comments - resists attempts to position them more precisely, probably because of HTML code nesting
          div.sy-comment-icon {
            margin-bottom: auto; // positions comment-icon at the top
            margin:-0.1rem 8px 0 0 !important;
            padding:0 4px 4px 4px !important;
            display:block;
          }

        } // end .sy-status-icons

        // edit-button
        ds-working-plan-chart-item-edit-button.button-edit {
          margin:auto 7px 5px 0; // top positions compare-button at the bottom
          button.mat-button-disabled {display:none !important;}
        }

        div.sy-compare {
          margin-top:auto; // positions compare-button at the bottom
          button.button-compare {}
        }

      } // end .row-header-right


    } // end mat-tree-node for single row
  } // end mat-tree for all rows


} // end .chart-column.names


/* ------------------------------------------------------------------------
Second Column with Header (with Functions / Buttons) and
Content (start and end dates, responsible organization and status)
------------------------------------------------------------------------ */
.chart-column.responsible.sidenav {

  // header of second column (with dropdown time period and tottle-button to hide the second column)
  div.sidenav-header {
    button#changeAllStartDate[disabled]{display:none !important;}
  }

  // Content with all table rows
  mat-tree.tree {

    // Single Row
    mat-tree-node {

      div.sy-start-end-date-block {
        p.sy-start-and-end-date-header {
          font-weight:normal;
          font-family: 'Nunito-SemiBold', sans-serif;
          font-size:0.9rem !important; // so that the font size of the headline is not so oversized in relation to the small font of the content
        }

        // not yet found a way to style or hide the background of start- and end-date, so that the text does not stick to the edge
        mat-form-field.sy-start-date-form div.mat-form-field-wrapper mat-form-field-flex {
          /*
          padding:4px !important;
          border:1px solid lime;
          border: 1px solid lime;
          */
        }
        mat-form-field.sy-end-date-form div.mat-form-field-wrapper mat-form-field-flex {
          /*
          padding:4px !important;
          background-color: red;
          border: 1px solid red;
          */
        }
        // calendar icon
        mat-icon {
          color:var(--sy-link-icon-color) !important; // make iconbutton link-blue ...
          font-size:0.9rem; // ... and smaller
        }

      } // end div.sy-start-end-date-block

      div.sy-responsible-organization-block {
        p.sy-responsible-organization-header {
          font-weight:normal;
          font-family: 'Nunito-SemiBold', sans-serif;
          font-size:0.9rem !important;
        }
        ds-authority-dropdown {}

      } // end div.sy-responsible-organization-block

      div.sy-status-block {
        p.sy-status-header {
          font-weight:normal;
          font-family: 'Nunito-SemiBold', sans-serif;
          font-size:0.9rem !important;
        }

        // Dropdown for status
        mat-form-field.sy-status-form {

          mat-select {
            // status-icons
           .mat-select-trigger {}

            // status-text
            mat-option {}

          }
        }
      } // end div.sy-status-block

    } // end mat-tree-node for single row
  } // end mat-tree for all rows

}


/* ------------------------------------------------------------------------
Third Column: Calendar-Table with headers, defined in
src/app/working-plan/working-plan-chart/container/working-plan-chart-dates/working-plan-chart-dates.component.html
Styles, especially all colors, are in
src/app/working-plan/working-plan-chart/container/working-plan-chart-dates/working-plan-chart-dates.component.scss
------------------------------------------------------------------------ */
ds-working-plan-chart-dates {

  // formerly green data bars, now color-neutral grey
  .flex-fill .calendar-inner-cell[date-inside=true] {
    background-color: var(--sy-working-plan-compare-bar-active-instance-background) !important;
    height:8px !important;
    border-bottom:1px solid var(--sy-color-gray-36); // dark line at the bottom to better distinguish the bar of the active instance from the bar of the comparison version
  }

  // depending on the selection only the div month, quarter or year appears
  div.sidenav-content {
    border:none;

    // header with one (by year or quartal) or two (monthly) rows
    div.sy-calendar-header-rows {
      // frames the calendar header with the same border as above the other two columns
      border-color: var(--sy-table-border-color);
      border-style:solid;
      border-width:1px 0 0 1px;
      margin-left:-2px; // because header is shifted a bit to the right for some reason.

      // repeating quartals and months for every year, stronger lines between years
      // the same for the table content in mat-tree.sy-monthly, .sy-quarterly and .sy-annually !
      div.sy-block-year {
        border-right:1px solid var(--sy-table-border-color) !important;
      }
      // is due to the special making of at annually necessary, so that border is displayed
      &.sy-annually.sy-row-years {
        background-color:var(--sy-color-gray-100) !important;
        div.sy-block-year.calendar-cell {
          border-right: 1px solid var(--sy-table-border-color) !important;
          display:block;  // is due to the special machart at annually necessary, so that border is displayed
        }
      }

      &.sy-quarterly.sy-row-years {}

      // removes some lines from table header
      .sy-row-years, .sy-row-years .calendar-cell-heading {
        border:none !important;
        font-family: 'Nunito-SemiBold', sans-serif;
      }

      // replaces the left and right borders of all calendar columns with zebra table
      .sy-row-months .calendar-cell-heading ,
      .sy-row-quarters .calendar-cell-heading,
      &.sy-annually.sy-row-years .calendar-cell {
        border-left:none !important;
        border-right:none !important;
        &:nth-child(odd) {background-color:var(--sy-table-cell-background-darker-1);}
      }

    } // end div.sy-calendar-header-rows


    // Content with all table rows
    mat-tree.tree {

      // Single Row
      mat-tree-node {
        div.calendar-cell {
          // replaces vertical borders with zebra table
          border-left:none !important;
          border-right:none !important;

        &:nth-child(odd) {background-color:var(--sy-table-cell-background-darker-1);}
        }
      } // end mat-tree-node for single row

      &.sy-monthly mat-tree-node div.calendar-cell {
        &:nth-child(12n){border-right:1px solid var(--sy-table-border-color) !important;} // line after every twelfth cell -> after a year
      }
      &.sy-quarterly mat-tree-node div.calendar-cell {
        &:nth-child(4n){border-right:1px solid var(--sy-table-border-color) !important;} // line after every forth cell -> after a year
      }
      &.sy-annually mat-tree-node div.calendar-cell {
        border-right:1px solid var(--sy-table-border-color) !important; // line after every cell -> after a year
      }

    } // end mat-tree for all rows

  } // end .sidenav-content

} // end ds-working-plan-chart-dates third column



} // end ds-working-plan-page
