<div>
  <div class="filters py-2">
    <!-- DATEPICKER -->
    <ng-container *ngIf="showDatepicker; else showRangeSlider">
      <div class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input
                name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
                [startDate]="fromDate!"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span #minLabel class="input-group-text">
                {{
                  "search.filters.filter." + filterConfig.name + ".min.label"
                    | translate
                }}
              </span>
            </div>
            <input
            #dpFromDate
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dpFromDate"
            [value]="formatter.format(fromDate)"
            (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
          />
          </div>
        </div>
        <div class="col-12 mt-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <span [ngStyle]="{'width.px' : minLabel.clientWidth}" class="input-group-text">
                {{
                  "search.filters.filter." + filterConfig.name + ".max.label"
                    | translate
                }}
              </span>
            </div>
            <input
              #dpToDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
            />
          </div>
        </div>
        <div class="col-12 mt-1">
          <button
            class="btn btn-secondary btn-block"
            (click)="datepicker.toggle()"
            type="button"
          >
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </ng-container>
    <!-- RANGE SLIDER -->
    <ng-template #showRangeSlider>
      <form
      #form="ngForm"
      (ngSubmit)="onSubmit()"
      class="add-filter row"
      [action]="currentUrl"
    >
      <div class="col-6 form-group mb-0">
        <label>
          <span class="font-weight-bold">
            {{
              "search.filters.filter." + filterConfig.name + ".min.label"
                | translate
            }}
          </span>
          <input
            type="text"
            [(ngModel)]="range[0]"
            [name]="filterConfig.paramName + '.min'"
            class="form-control"
            (blur)="onSubmit()"
            aria-label="Mininum value"
            [placeholder]="
              'search.filters.filter.' + filterConfig.name + '.min.placeholder'
                | translate
            "
          />
        </label>
      </div>
      <div class="col-6">
        <label>
          <span class="font-weight-bold">
            {{
              "search.filters.filter." + filterConfig.name + ".max.label"
                | translate
            }}
          </span>
          <input
            type="text"
            [(ngModel)]="range[1]"
            [name]="filterConfig.paramName + '.max'"
            class="form-control"
            (blur)="onSubmit()"
            aria-label="Maximum value"
            [placeholder]="
              'search.filters.filter.' + filterConfig.name + '.max.placeholder'
                | translate
            "
          />
        </label>
      </div>
      <label class="d-none">
        <input type="submit" class="d-none" />
        <span>{{ "search.filters.search.submit" | translate }}</span>
      </label>
    </form>
      <ng-container *ngIf="shouldShowSlider()">
        <nouislider
          [connect]="true"
          [min]="min"
          [max]="max"
          [step]="1"
          [dsDebounce]="250"
          (onDebounce)="onSubmit()"
          (keydown)="startKeyboardControl()"
          (keyup)="stopKeyboardControl()"
          [(ngModel)]="range"
          ngDefaultControl
        >
        </nouislider>
      </ng-container>
    </ng-template>
    <ng-container *ngFor="let page of (filterValues$ | async)?.payload">
      <div [@facetLoad]="animationState">
        <ds-search-facet-range-option
          *ngFor="let value of page.page; trackBy: trackUpdate"
          [filterConfig]="filterConfig"
          [filterValue]="value"
          [inPlaceSearch]="inPlaceSearch"
        ></ds-search-facet-range-option>
      </div>
    </ng-container>
  </div>
</div>
