<div *ngIf="!(this.submitted$ | async); else waiting">
  <div class="modal-header">{{'item.version.create.modal.header' | translate}}
    <button type="button" class="close" [disabled]="processing$ | async" (click)="onModalClose()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ds-alert [type]="'alert-info'" [content]="'item.version.create.modal.text' | translate">
    </ds-alert>
    <div class="form-group">
      <label for="summary">{{'item.version.create.modal.form.summary.label' | translate }}:</label>
      <input type="text" id="summary" class="form-control" [(ngModel)]="newVersionSummary"
             (keyup.enter)="onModalSubmit()"
             placeholder="{{'item.version.create.modal.form.summary.placeholder' | translate }}"/>
    </div>
  </div>
  <div class="modal-footer space-children-mr">
      <button class="btn btn-outline-secondary btn-sm ml-0"
              type="button"
              [disabled]="processing$ | async"
              (click)="onModalClose()"
              title="{{'item.version.create.modal.button.cancel.tooltip' | translate}}">
        <i class="fas fa-times fa-fw"></i> {{'item.version.create.modal.button.cancel' | translate}}
      </button>
      <button class="btn btn-success btn-sm ml-0"
              type="submit"
              [disabled]="processing$ | async"
              (click)="onModalSubmit()"
              title="{{'item.version.create.modal.button.confirm.tooltip' | translate}}">
        <span *ngIf="!(processing$ | async)">
          <i class="fas fa-check fa-fw"></i> {{'item.version.create.modal.button.confirm' | translate}}
        </span>
        <span *ngIf="(processing$ | async)">
          <i class="fas fa-circle-notch fa-spin"></i> {{'item.version.create.modal.button.processing' | translate}}
        </span>
    </button>
  </div>
</div>

<ng-template #waiting>
  <div class="modal-header">{{'item.version.create.modal.submitted.header' | translate}}</div>
  <div class="modal-body">
    <p>{{'item.version.create.modal.submitted.text' | translate}}</p>
    <div class="d-flex justify-content-center">
      <ds-loading [showMessage]="false"></ds-loading>
    </div>
  </div>
</ng-template>
