<!-- rex: Scrollable Dropdown for responsible organization in working plan -->

<div #sdRef="ngbDropdown" ngbDropdown display="dynamic" placement="bottom-right" class="w-100">
  <div class="position-relative right-addon">
    <i *ngIf="!readOnly" ngbDropdownToggle class="position-absolute scrollable-dropdown-toggle" aria-hidden="true"></i>
    <i *ngIf="readOnly" class="position-absolute scrollable-dropdown-toggle" aria-hidden="true"></i>
    <input class="form-control input-height-adjustment"
           [attr.aria-label]="placeholder"
           [attr.autoComplete]="autocomplete"
           [class.scrollable-dropdown-input]="!readOnly"
           [id]="bindId && fieldId"
           [name]="fieldName"
           [readonly]="readOnly"
           [disabled]="readOnly"
           [value]="(currentValue | async)"
           [title]="hasValue(currentValue | async) ? (currentValue | async) : ''"
           (blur)="onBlur($event)"
           (click)="$event.stopPropagation(); openDropdown(sdRef);"
           (focus)="onFocus($event)"
           (keypress)="$event.preventDefault()">
  </div>

  <!-- Special solution to style the organization name for print styles:
  puts the title of the input-field (name of the responsible organization) also into the title of the following span.show-title-of-input.
  This allows the title to be output via css-content, while this is not possible in the input-field, 
  because input-elements are replaced elements (see https://stackoverflow.com/questions/4574912/css-content-generation-before-or-after-input-elements#4574946)  
  The Title is styled for print export in src/themes/synsicris/styles/print-styles/print.working-plan.scss
  -->
  <span class="show-title-of-input" [title]="hasValue(currentValue | async) ? (currentValue | async) : ''"></span>
  <!-- End of special title solution -->

  <div ngbDropdownMenu
       class="dropdown-menu scrollable-dropdown-menu w-100"
       aria-haspopup="true"
       aria-expanded="false"
       [attr.aria-label]="placeholder">

    <div>
      <input class="form-control scrollable-dropdown-search-input" type="text"
             [placeholder]="'form.scrollable-input.search' | translate"
             (input)="filter($event?.target?.value)">
    </div>
    <div class="scrollable-menu"
         [attr.aria-label]="placeholder"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()"
         [scrollWindow]="false">

      <button class="dropdown-item disabled" *ngIf="optionsList && optionsList.length == 0">{{'form.no-results' | translate}}</button>
      <button class="dropdown-item collection-item text-truncate" *ngFor="let listEntry of optionsList" (click)="onSelect(listEntry); sdRef.close()" title="{{ listEntry.display }}">
        {{inputFormatter(listEntry)}}
      </button>
      <div class="scrollable-dropdown-loading text-center" *ngIf="loading"><p>{{'form.loading' | translate}}</p></div>
    </div>

  </div>
</div>


