form {
    &:before {
        pointer-events: none; // prevent the icon from ‘catching‘ the click
        position: absolute;
        // Fontawesome 6 `sort-down` icon CSS
        font: var(--fa-font-solid);
        content: "\f0dd";
        top: 7px;
        right: 0;
        height: 20px;
        width: 20px;
    }

    input.suggestion_input {
        background: transparent;
    }
}
