<div class="{{box.style}}">
  <ds-loading *ngIf="(loading$ | async)"></ds-loading>
  <div *ngIf="!(loading$ | async)" class="py-4 card-body">
    <ul class="list-unstyled">
      <li *ngIf="(impactPathwayList | async)?.length == 0">
        <span class="text-muted">{{'browse.empty' | translate}}</span>
      </li>
      <li *ngFor="let impactPathway of (impactPathwayList | async)">
        <button class="btn btn-link m-0 p-0" (click)="navigateToImpactPathway(impactPathway)">
          <span class="h5">{{getImpactPathwayName(impactPathway)}}</span>
        </button>
      </li>
    </ul>
    <nav *ngIf="(impactPathwayListPageInfo | async)?.totalPages > 1">
      <ul class="pagination">
        <li class="page-item {{ ((impactPathwayListPageInfo | async)?.currentPage <= 1) ? 'disabled' : ''}}">
          <button class="page-link" aria-label="Previous"
                  (click)="retrievePrevPage()">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </button>
        </li>
        <li class="page-item {{ ((impactPathwayListPageInfo | async)?.currentPage >= (impactPathwayListPageInfo | async)?.totalPages) ? 'disabled' : ''}}">
          <button class="page-link" aria-label="Next"
                  (click)="retrieveNextPage()">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </button>
        </li>
      </ul>
    </nav>
    <button class="btn btn-link btn-lg p-0 m-0 h3 text-decoration-none text-left" role="button" (click)="createImpactPathway()">
      <i class="fas fa-plus-circle"></i>
      <span class="text-dark"> {{'project-overview.page.content.new-impact-pathway' | translate}}</span>
    </button>
  </div>
</div>


