<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Step 1</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="btn-group btn-group-toggle mb-4">
          <label class="btn-outline-info" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="searchAll" (change)="onTabSelect(1)" />
            {{"query-builder.synsicris.label.search-all" | translate }}
          </label>
          <label class="btn-outline-info" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="searchSelected" (change)="onTabSelect(2)" />
            {{"query-builder.synsicris.label.search-selected" | translate }}
          </label>
        </div>
        <div class="builder-container" *ngIf="searchSelected">
          <ds-query-builder [configurationName]="queryBuilderConfigurationName" (onQueryCompose)="getSearchQuery($event)">
          </ds-query-builder>
        </div>
        <ng-container *ngIf="searchAll || (searchSelected && searchQuery)">
          <ds-selected-project-list [query]="searchQuery" [configuration]="projectsConfigurationName">
          </ds-selected-project-list>
        </ng-container>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Step 2</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <ds-projects-scoped-search [configuration]="projectItemsConfigurationName"
                                   [query]="searchQuery"></ds-projects-scoped-search>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
