<ds-collapsable-panel #ipwCollapse class="d-block mb-3"
                       [sidebarPanelTitle]="impactPathwayTask.title"
                       [startOpen]="!(isCollapsed() | async) || isOpen()">
  <ng-container ngProjectAs="panelIconStatus">
    <button class="btn btn-lg btn-link flex-shrink-1 align-self-center text-primary"
            [disabled]="!(canEditButton$ | async) || isVersionOfAnItem"
            [title]="'impact-pathway.objectives.edit.btn.title' | translate">
      <span (click)="openEditModal(); $event.stopImmediatePropagation()"><i class="fas fa-edit"></i></span>
    </button>
  </ng-container>
  <ng-container ngProjectAs="panelContent">
    <div class="d-flex">
      <div #taskSection class="pr-0 w-100">
        <div class="d-flex align-items-stretch p-0 m-0 bg-step-green">
          <ds-objective-container class="horizontal-step h-100 horizontal-content"
                                   [canEditButton]="canEditButton$ | async"
                                   [impactPathwayStep]="impactPathwayStep"
                                   [impactPathwayTask]="impactPathwayTask"
                                   [isVersionOfAnItem]="isVersionOfAnItem"
                                   [projectCommunityId]="projectCommunityId"></ds-objective-container>
        </div>
        <ds-editable-textarea *ngIf="impactPathwayTask"
                               [editMode]="getEditMode()"
                               [formConfig]="formConfig$"
                               [formSectionName]="getSectionName()"
                               [itemId]="impactPathwayTask.id"
                               [editTitle]="'impact-pathway.objectives.edit.btn.title' | translate"
                               [fieldTitle]="'impact-pathway.objectives.description.title' | translate"
                               [content]="impactPathwayTask.description"
                               [disabled]="!(canEditButton$ | async) || isVersionOfAnItem"
                               (contentChange)="updateImpactPathwayTask($event)"></ds-editable-textarea>
      </div>
      <div *ngIf="isVersionOfAnItem && isFunder && (formConfig$ | async)?.name" class="comment-box" [ngStyle]="{'height.px': taskSection.clientHeight}">
        <ds-comment-list
          [relatedEntityType]="impactPathwayTask.type"
          [itemUuid]="impactPathwayTask.id"
          [projectCommunityId]="projectCommunityId"
          [type]="(formConfig$ | async).name">
        </ds-comment-list>
      </div>
    </div>
  </ng-container>
</ds-collapsable-panel>
