<ipw-sidebar-panel class="d-block mb-3" [sidebarPanelTitle]="impactPathwayTask.title" [startOpen]="isOpen()">
  <ng-container ngProjectAs="panelContent">
    <div class="d-flex align-items-stretch p-0 m-0">
      <ipw-objective-container class="horizontal-step h-100 horizontal-content"
                               [impactPathwayStep]="impactPathwayStep"
                               [impactPathwayTask]="impactPathwayTask"></ipw-objective-container>
    </div>
    <ipw-editable-textarea *ngIf="impactPathwayTask"
                           [placeholder]="impactPathwayTask.description"
                           [initContent]="impactPathwayTask.description"
                           (contentChange)="updateDescription($event)"></ipw-editable-textarea>
  </ng-container>
</ipw-sidebar-panel>
