@import '../../../../styles/variables';

:host ::ng-deep .card {
  margin-bottom: var(--ds-submission-sections-margin-bottom);
}

.section-focus {
  border-radius: var(bs-border-radius);
  box-shadow: var(bs-btn-focus-box-shadow);
}

:host ::ng-deep .card:first-of-type {
  border-bottom: var(--bs-card-border-width) solid  var(--bs-card-border-color) !important;
  border-bottom-left-radius: var(--bs-card-border-radius) !important;
  border-bottom-right-radius: var(--bs-card-border-radius) !important;
}

:host ::ng-deep .card-header button {
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .card-body {
  margin: 0;
  padding: 0;
}

.horizontal-content {
  min-height: 250px;
}

.horizontal-step {
  border-bottom: 1px solid #{theme-color('dark')};
  width: 100%;
}

.bg-step-green {
  background-color: rgba(38, 153, 0, 0.1);
}
