<!-- -----------------------------------------------------------
Definition of the entire page content of the impact pathway page
------------------------------------------------------------ -->

<!-- Row with Name of Impact Pathway and buttons -->
<div id="ipw">
  <div class="border-bottom mb-4 pb-2 d-flex justify-content-between">
    <ds-comcol-page-header [name]="impactPathway.title">
      <ds-view-version-badges *ngIf="impactPathWayItem && (isVersionOfAnItem$ | async)" [item]="impactPathWayItem"></ds-view-version-badges>
    </ds-comcol-page-header>
    <!-- edit-headline-button -->
    <button class="btn btn-link btn-sm ml-2 mr-auto align-self-start" title="{{'impact-pathway.edit.title' | translate}}"
            [disabled]="(isProcessingRemove() | async) || (compareMode | async) || !(canEditButton$ | async) || (isVersionOfAnItem$| async)"
            (click)="$event.preventDefault(); openEditModal(); $event.stopPropagation()">
          <span *ngIf="!(isProcessingRemove() | async)">
            <i class="fas fa-pen"></i> <!-- {{'impact-pathway.edit.title' | translate}} -->
          </span>
      <span *ngIf="(isProcessingRemove() | async)">
            <i class="fas fa-circle-notch fa-spin"> {{'impact-pathway.remove.processing' | translate}}</i>
          </span>
    </button>

    <div class="d-flex space-children-mr">
      <ds-item-version-list [btnClass]="'btn-md'"
                            [showOnlyVisible]="hasAnyFunderRole"
                            [targetItemId]="impactPathway.id"
                            [targetItem]="impactPathWayItem"
                            (versionSelected)="onVersionSelected($event)"
                            (versionDeselected)="onVersionDeselected()">
      </ds-item-version-list>
      <!-- Button "delete Impact Pathway" btn btn-primary btn-sm align-self-start  -->
      <button *ngIf="(canDeleteImpactPathway$ | async)" class="btn btn-outline-danger align-self-start" title="{{'impact-pathway.remove.title' | translate}}"
              [disabled]="disableDelete$ | async"
              (click)="$event.preventDefault(); confirmRemove(content); $event.stopPropagation()">
        <span *ngIf="!(isProcessingRemove$ | async)">
          <i class="fas fa-trash-alt"></i> {{'impact-pathway.remove.title' | translate}}
        </span>
        <span *ngIf="(isProcessingRemove$ | async)">
          <i class="fas fa-circle-notch fa-spin"> {{'impact-pathway.remove.processing' | translate}}</i>
        </span>
      </button>
    </div>
  </div>

<!-- total area with helptext-accordeon, IP-columns and textfield "Description" below -->
  <div>
    <!-- helptext -->
    <ds-alert-role [type]="'alert-info'"
                  [collapsible]="true"
                  [content]="'impact-pathway.wrapper.info'"
                  [alertRoles]="funderRoles">
    </ds-alert-role>
    <!-- end of helptext -->
    <ng-container *ngIf="(isVersionOfAnItem$ | async) && isFunderProject">
      <div class="mb-3">
        <ngb-accordion
          #accordionRef
          [destroyOnHide]="false"
          [closeOthers]="false"
          activeIds=""
          (panelChange)="changeAccordionState($event)"
        >
          <ngb-panel id="panel-0">
            <ng-template ngbPanelTitle>
              <div class="d-flex justify-content-between">
                <span class="float-left text-justify" tabindex="0"> {{'comment-list.header' | translate}}</span>
                <a class="close" tabindex="0" role="button">
                  <span *ngIf="isCommentAccordionOpen" class="fas fa-chevron-up fa-fw"></span>
                  <span *ngIf="!isCommentAccordionOpen" class="fas fa-chevron-down fa-fw"></span>
                </a>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row m-0" *ngIf="(formConfig$ | async)?.name">
                  <div class="col-2 p-0" *ngFor="let data of impactPathway.steps | dsGetIpwData">
                    <ds-comment-list
                      [relatedBoard]="impactPathWayItem"
                      [relatedEntityType]="impactPathwayStepEntityType"
                      [itemUuid]="data.id"
                      [title]="data.title"
                      [projectCommunityId]="projectCommunityId"
                      [type]="(formConfig$ | async).name">
                    </ds-comment-list>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </ng-container>
    <ds-themed-loading *ngIf="(compareProcessing$ | async)"></ds-themed-loading>
    <!-- Jump Marker to the description textfield -->
    <div class="d-flex flex-row-reverse mt-0 pt-0 mb-2">
      <button (click)="scroll(textfieldDescription)" class="btn btn-link">
        <i class="fas fa-arrow-down"></i> {{"impact-pathway.description.jump-marker" | translate}}
      </button>
    </div>
    <div *ngIf="!((compareProcessing$ | async))" class="d-flex align-items-stretch p-0 m-0 mb-3 vertical-content border">
      <!-- Impact Pathway Columns in repetition, defined in
      src/app/impact-pathway-board/shared/impact-path-way/impact-path-way-step/impact-path-way-step.component.html -->
      <ds-impact-path-way-step
        *ngFor="let step of impactPathway.steps"
        [ngClass]="{'step-disabled': step.processing}"
        dsStepColor class="vertical-step"
        [projectCommunityId]="projectCommunityId"
        [impactPathwayId]="impactPathway.id"
        [impactPathwayStepId]="step.id"
        [stepType]="step.type"
        [allImpactPathwayStepIds]="getImpactPathwayStepIds()"
        [compareMode]="(compareMode | async)"
        [isVersionOfAnItem]="(isVersionOfAnItem$ | async)"
      ></ds-impact-path-way-step>
    </div>
    <hr />

    <!-- area with textarea for "description", headline and edit-button -->
    <div #textfieldDescription></div><!-- target for jump marker -->
    <ds-editable-textarea
      *ngIf="!(compareProcessing$ | async) && impactPathway"
      [editMode]="getEditMode()"
      [formConfig]="formConfig$"
      [formSectionName]="getSectionName()"
      [itemId]="impactPathway.id"
      [compareItemId]="(compareItem$ | async)?.id"
      [editPlaceholder]="'impact-pathway.edit.textarea.placeholder' | translate"
      [editTitle]="'impact-pathway.edit.title' | translate"
      [fieldTitle]="'impact-pathway.description' | translate"
      [content]="impactPathway.description"
      [disabled]="(compareMode | async) || !(canEditButton$ | async)"
      (contentChange)="updateImpactPathway($event)">
    </ds-editable-textarea>
  </div>

  <ng-container *ngIf="loadedArrows | async">
    <ng-container *ngFor="let relation of (getRelations() | async)">
      <ngx-domarrow class="position-arrow"
                    [from]="'#' + relation.from"
                    [to]="'#' + relation.to"
                    [head]="relation.twoWay"
                    [tail]="true"
                    [onlyVisible]="true" color="blueviolet" class="arrow"></ngx-domarrow>
    </ng-container>
  </ng-container>
</div>

<!-- modal window, that appears with the button "delete impact pathway" -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-danger">{{'impact-pathway.remove.confirm.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'impact-pathway.remove.confirm.info' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" title="{{'impact-pathway.remove.confirm.cancel' | translate}}" (click)="c('cancel')">
      {{'impact-pathway.remove.confirm.cancel' | translate}}
    </button>
    <button type="button" class="btn btn-danger" title="{{'impact-pathway.remove.confirm.submit' | translate}}" (click)="c('ok')">
      {{'impact-pathway.remove.confirm.submit' | translate}}
    </button>
  </div>
</ng-template>

