<div class="border-bottom mb-4 pb-4 d-flex justify-content-between align-items-center">
  <ds-comcol-page-header
    [name]="impactPathway.title | titlecase">
  </ds-comcol-page-header>
  <div class="pl-2">
    <button *ngIf="(canDeleteImpactPathway$ | async)" class="btn btn-danger"
            [disabled]="(isProcessingRemove() | async)"
            title="{{'impact-pathway.remove.title' | translate}}"
            (click)="$event.preventDefault(); confirmRemove(content); $event.stopPropagation()">
      <span *ngIf="!(isProcessingRemove() | async)">
        <i class="far fa-trash-alt"></i> {{'impact-pathway.remove.title' | translate}}
      </span>
      <span *ngIf="(isProcessingRemove() | async)">
        <i class="fas fa-circle-notch fa-spin"> {{'mpact-pathway.remove.processing' | translate}}</i>
      </span>
    </button>
  </div>
</div>

<div>
  <ds-alert *ngIf="infoShowed | async"
            [type]="'alert-info'"
            [collapsible]="true"
            [content]="'impact-pathway.wrapper.info'"></ds-alert>
  <div class="d-flex align-items-stretch p-0 m-0 vertical-content border">
    <ipw-impact-path-way-step *ngFor="let step of impactPathway.steps"
                              ipwStepColor
                              class="vertical-step"
                              [projectId]="projectId"
                              [impactPathwayId]="impactPathway.id"
                              [impactPathwayStepId]="step.id"
                              [stepType]="step.type"
                              [allImpactPathwayStepIds]="getImpactPathwayStepIds()"></ipw-impact-path-way-step>
  </div>
  <ipw-editable-textarea *ngIf="impactPathway"
                         [placeholder]="impactPathway.description"
                         [initContent]="impactPathway.description"
                         (contentChange)="updateDescription($event)"></ipw-editable-textarea>
</div>

<div *ngIf="(loaded | async)">
  <ngx-domarrow *ngFor="let relation of (getRelations() | async)"
                [from]="'#' + relation.from"
                [to]="'#' + relation.to"
                [head]="relation.twoWay"
                [tail]="true"
                [onlyVisible]="true"
                color="red"></ngx-domarrow>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-danger">{{'impact-pathway.remove.confirm.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'impact-pathway.remove.confirm.info' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            title="{{'impact-pathway.remove.confirm.cancel' | translate}}"
            (click)="c('cancel')">
      {{'impact-pathway.remove.confirm.cancel' | translate}}
    </button>
    <button type="button"
            class="btn btn-danger"
            title="{{'impact-pathway.remove.confirm.submit' | translate}}"
            (click)="c('ok')">
      {{'impact-pathway.remove.confirm.submit' | translate}}
    </button>
  </div>
</ng-template>
