<a href="#" *ngIf="(currentVersion | async)"
   class="badge badge-primary"
   title="{{'item.version.list.remove-text' | translate}}"
   (click)="$event.preventDefault(); $event.stopImmediatePropagation(); onVersionDeselected()">
  {{('item.version.list.selected-text' | translate) + (currentVersion.value |  date:'medium')}} <i class="fas fa-times"></i>
</a>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-primary btn-sm" id="versionList" ngbDropdownToggle [disabled]="(versionList$ | async)?.length === 0">
    {{'item.version.list.dropdown-text' | translate}}
  </button>
  <div ngbDropdownMenu aria-labelledby="versionList">
    <button *ngFor="let version of (versionList$ | async); let index = index"
            class="btn-sm"
            ngbDropdownItem
            (click)="onVersionSelected(version)">
      {{('item.version.list.option-text' | translate) + (version.created |  date:'medium')}}
    </button>
  </div>
</div>
