<span href="#" *ngIf="(currentVersion | async)?.base as base"
      class="badge badge-primary mr-1">
  {{('item.version.list.base-text' | translate) + base?.title + ' ' + (base?.date |  date:'medium')}}
</span>
<a href="#" *ngIf="(currentVersion | async)?.comparing as comparing"
   class="badge badge-primary mr-1"
   title="{{'item.version.list.remove-text' | translate}}"
   (click)="$event.preventDefault(); $event.stopImmediatePropagation(); onVersionDeselected()">
  {{('item.version.list.comparing-text' | translate) + comparing?.title + ' ' + (comparing?.date |  date:'medium')}} <i
  class="fas fa-times"></i>
</a>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-primary {{btnClass}}" id="versionList" ngbDropdownToggle
          [disabled]="(versionList$ | async)?.length === 0 || disabled" data-test="version-disabled">
    {{'item.version.list.dropdown-text' | translate}}
  </button>
  <div ngbDropdownMenu aria-labelledby="versionList">
    <button *ngFor="let version of (versionList$ | async); let index = index"
            class="{{btnClass}}"
            ngbDropdownItem
            (click)="onVersionSelected(version)">
      {{((isActiveInstance(version) ? 'item.version.list.active-option-text' : 'item.version.list.option-text') | translate) + (version.summary || '') + ' ' + (version.created |  date:'medium')}}
    </button>
  </div>
</div>
