<div class="container">
  <div>
    <h1>{{'development-funding.page.dev.title' | translate}}</h1>
    <div [innerHTML]="'development-funding.page.dev.text' | translate"></div>
    <picture>
      <source srcset="assets/images/Logo_Universitaet_rgb2.jpg" type="image/svg+xml">
      <img src="assets/images/Logo_Universitaet_rgb2.jpg" class="img-fluid img-thumbnail mr-3">
      <b><a [href]="uniKasselLink" target="_blank">{{'development-funding.page.dev.link.uni-kassel' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/Disy-Logo-200.png" type="image/svg+xml">
      <img src="assets/images/Disy-Logo-200.png" class="img-fluid img-thumbnail mr-3">
      <b><a [href]="disyLink" target="_blank">{{'development-funding.page.dev.link.disy' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/4science.jpg" type="image/svg+xml">
      <img src="assets/images/4science.jpg" class="img-fluid img-thumbnail mr-3">
      <b><a [href]="fourscienceLink" target="_blank">{{'development-funding.page.dev.link.4science' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/TheLibraryCode.png" type="image/svg+xml">
      <img src="assets/images/TheLibraryCode.png" class="img-fluid img-thumbnail mr-3">
      <b><a [href]="tlcLink" target="_blank">{{'development-funding.page.dev.link.tlc' | translate}}</a></b>
    </picture>
  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <h1>{{'development-funding.page.funding.title' | translate}}</h1>
    <div [innerHTML]="'development-funding.page.funding.text' | translate"></div>
    <picture>
      <source srcset="assets/images/KombilogoBMEL_BLE-englisch.png" type="image/svg+xml">
      <img src="assets/images/KombilogoBMEL_BLE-englisch.png" class="img-fluid img-thumbnail mr-3" style="width: 500px">
    </picture>
  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <h1>{{'development-funding.page.partner.title' | translate}}</h1>
    <div [innerHTML]="'development-funding.page.partner.text' | translate"></div>
    <picture>
      <source srcset="assets/images/P_Rex-Logo-k.jpg" type="image/svg+xml">
      <img src="assets/images/P_Rex-Logo-k.jpg" class="img-fluid img-thumbnail mr-3 mh-60" style="height: 50px">
      <b><a [href]="rexLink" target="_blank">{{'development-funding.page.partner.link.rex' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/eresult.png" type="image/svg+xml">
      <img src="assets/images/eresult.png" class="img-fluid img-thumbnail mr-3" style="height: 65px">
      <b><a [href]="eresultLink" target="_blank">{{'development-funding.page.partner.link.eresult' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/userlutions-transp.png" type="image/svg+xml">
      <img src="assets/images/userlutions-transp.png" class="img-fluid img-thumbnail mr-3" style="height: 65px">
      <b><a [href]="userlutionsLink" target="_blank">{{'development-funding.page.partner.link.userlutions' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/ZB_MED.png" type="image/svg+xml">
      <img src="assets/images/ZB_MED.png" class="img-fluid img-thumbnail mr-3" style="height: 75px">
      <b><a [href]="zbmedLink" target="_blank">{{'development-funding.page.partner.link.zbmed' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/TIB_Logo.png" type="image/svg+xml">
      <img src="assets/images/TIB_Logo.png" class="img-fluid img-thumbnail mr-3" style="height: 75px">
      <b><a [href]="tibLink" target="_blank">{{'development-funding.page.partner.link.tib' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
    <picture>
      <source srcset="assets/images/ub-kassel-logo.jpg" type="image/svg+xml">
      <img src="assets/images/ub-kassel-logo.jpg" class="img-fluid img-thumbnail mr-3" style="height: 40px">
      <b><a [href]="libKasselLink" target="_blank">{{'development-funding.page.partner.link.lib-kassel' | translate}}</a></b>
    </picture>
    <br/>
    <br/>
  </div>

</div>
