<ds-collapsable-panel #ipwCollapse class="d-block mb-3"
                      [sidebarPanelTitle]="getStepTitle()"
                      [startOpen]="!(isCollapsed() | async)"
                      [collapsable]="true">
  <ng-container *ngIf="isIconVisible()" ngProjectAs="panelIconTitle">
    <i dsQuestionsBoardIcon [questionsBoardType]="questionsBoardStep?.type"></i>
  </ng-container>
  <ng-container ngProjectAs="panelContent">
    <div class="d-flex">
      <div #questionsBoardSection class="pr-0 w-100">
        <div class="p-2">
          <ds-alert-role
            [type]="'alert-info'"
            [content]="messagePrefix + '.' + questionsBoardStep?.type + '.info.text'"
            [collapsible]="true"
            [dismissRoles]="funderRoles$ | async"
          ></ds-alert-role>
          <div class="p-0 m-0 mb-2 bg-light rounded">
            <ds-questions-board-step-container [messagePrefix]="messagePrefix"
                                               [questionEntityType]="questionBoardEntityType"
                                               [questionsBoardStep]="questionsBoardStep"
                                               [isVersionOfAnItem]="isVersionOfAnItem"
                                               [projectCommunityId]="projectCommunityId"
                                               [fundingCommunity]="fundingCommunity"
                                               [compareMode]="compareMode"
                                               [isProjectReader]="isProjectReader"></ds-questions-board-step-container>
          </div>
          <ds-view-simple-item-form *ngIf="hasCheckbox && questionsBoardStep"
                                    [compareMode]="compareMode"
                                    [editMode]="getEditMode()"
                                    [editTitle]="messagePrefix + '.edit.btn.title' | translate"
                                    [fieldTitle]="messagePrefix + '.description.title' | translate"
                                    [formConfig]="formConfig$"
                                    [formSectionName]="getSectionName()"
                                    [itemId]="questionsBoardStep.id"
                                    [compareItemId]="questionsBoardStep.compareId"
                                    [disabled]="isProjectReader || compareMode || isVersionOfAnItem"
                                    (itemUpdate)="updateQuestionsBoardStep($event)"></ds-view-simple-item-form>
          <ds-editable-textarea *ngIf="!hasCheckbox && questionsBoardStep"
                                [compareMode]="compareMode"
                                [editMode]="getEditMode()"
                                [formConfig]="formConfig$"
                                [formSectionName]="getSectionName()"
                                [itemId]="questionsBoardStep.id"
                                [compareItemId]="questionsBoardStep.compareId"
                                [editTitle]="messagePrefix + '.edit.btn.title' | translate"
                                [fieldTitle]="messagePrefix + '.description.title' | translate"
                                [content]="questionsBoardStep.description"
                                [disabled]="isProjectReader || compareMode || isVersionOfAnItem"
                                (contentChange)="updateQuestionsBoardStep($event)"></ds-editable-textarea>
        </div>
      </div>

      <div *ngIf="isVersionOfAnItem && isFunderProject && (formConfig$ | async)?.name && this.questionBoardEntityType" class="comment-box pr-2 py-2 comment-box-position"
           [ngStyle]="{'height.px': questionsBoardSection.clientHeight}">
        <ds-comment-list
          [relatedBoard]="questionsBoard$ | async"
          [relatedEntityType]="this.questionBoardEntityType"
          [itemUuid]="this.questionsBoardStep.id"
          [projectCommunityId]="projectCommunityId"
          [type]="(formConfig$ | async).name">
        </ds-comment-list>
      </div>
    </div>
  </ng-container>
</ds-collapsable-panel>
