<ds-loading *ngIf="!(allGroupsInit$ | async)"></ds-loading>
<!-- Tab-Navigation "manage project members" -->
<div *ngIf="allGroupsInit$ | async" class="container">
  <nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeId">
    <ng-container ngbNavItem="funders" *ngIf="(fundersGroup$ | async)">
      <a ngbNavLink data-test="funders">{{'project.manage.members.project.funders-group' | translate }}</a>
      <ng-template ngbNavContent>
        <ds-project-members [targetGroup]="(fundersGroup$ | async)"
                            [relatedCommunity]="(relatedCommunity$ | async)"
                            [isFundersGroup]="true"
                            [isCoordinatorsGroup]="false"
                            [isMembersGroup]="false"
                            [isFunding]="isFunding">
        </ds-project-members>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="coordinators">
      <a ngbNavLink data-test="coordinators">{{(isFunding ? 'project.manage.members.funding.coordinators-group' : 'project.manage.members.project.coordinators-group') | translate }}</a>
      <ng-template ngbNavContent>
        <ds-project-members [targetGroup]="(coordinatorsGroup$ | async)"
                            [relatedCommunity]="(relatedCommunity$ | async)"
                            [isFundersGroup]="false"
                            [isCoordinatorsGroup]="true"
                            [isMembersGroup]="false"
                            [isFunding]="isFunding">
        </ds-project-members>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="members" *ngIf="isFunding">
      <a ngbNavLink data-test="members">{{(isFunding ? 'project.manage.members.funding.members-group' : 'project.manage.members.project.members-group') | translate }}</a>
      <ng-template ngbNavContent>
        <ds-project-members [targetGroup]="(membersGroup$ | async)"
                            [relatedCommunity]="(relatedCommunity$ | async)"
                            [isFundersGroup]="false"
                            [isCoordinatorsGroup]="false"
                            [isMembersGroup]="true"
                            [isFunding]="isFunding">
        </ds-project-members>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="readers" *ngIf="!isFunding && !isFunder">
      <a ngbNavLink data-test="readers">{{'project.manage.members.project.readers-group' | translate }}</a>
      <ng-template ngbNavContent>
        <ds-project-members [targetGroup]="(readersGroup$ | async)"
                            [relatedCommunity]="(relatedCommunity$ | async)"
                            [isFundersGroup]="false"
                            [isCoordinatorsGroup]="false"
                            [isMembersGroup]="false"
                            [isFunding]="isFunding">
        </ds-project-members>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-5"></div>

</div>
