<div class="modal-header">
  <h4 class="modal-title">{{'item.edit.head' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-body-height">

  <ng-container *ngIf="!selectedCollection;else form;">
    <ng-container *ngIf="collections.length > 0">
      <button *ngFor="let collection of collections" class="dropdown-item collection-item p-3"
        title="{{ collection.name }}" (click)="onSelect(collection)">
        <ul class="list-unstyled mb-0">
          <li class="list-item text-truncate text-secondary" *ngFor="let item of collection.communities">
            {{ item.name}} <i class="fa fa-level-down" aria-hidden="true"></i>
          </li>
          <li class="list-item text-truncate text-primary font-weight-bold">{{ collection.name}}</li>
        </ul>
      </button>
    </ng-container>
  </ng-container>


  <ng-template #form>
    <ds-loading *ngIf="(processing | async)" [message]="'loading.default' | translate"></ds-loading>
    <ds-form *ngIf="!(processing | async) && formModel?.length > 0" #formRef="formComponent" [formModel]="formModel"
      [displaySubmit]="true" (submitForm)="submit($event)" (cancel)="activeModal.dismiss(false)">
    </ds-form>
  </ng-template>
</div>