<div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown" (openChange)="onOpenChange($event)">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Filter by {{filterType | titlecase}}</button>

      <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <li *ngFor="let filterEntry of innerFilterBoxEntries" ngbDropdownItem>
          <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   [checked]="(isChecked(filterEntry.value) | async)"
                   [name]="filterId + filterEntry.value"
                   [id]="filterId + filterEntry.value"
                   [value]="filterEntry.value"
                   (change)="onChecked($event)">
            <label class="custom-control-label" [for]="filterId + filterEntry.value">{{filterEntry.label}}</label>
          </div>
        </li>
        <li class="d-flex justify-content-center mt-1 border-top pt-2">
          <button class="btn btn-outline-primary" id="{{filterId + filterType}}Submit" (click)="onSubmit(myDrop)">Submit</button>
        </li>
      </ul>

</div>
