<mat-toolbar color="primary" class="bg-white">
  <mat-toolbar-row class="p-0">
    <span>
      <button class="btn btn-primary"
              title="{{'working-plan.chart.toolbar.workpackage-btn' | translate}}"
              (click)="createWorkpackage()">
        <i class="fas fa-plus"></i> {{'working-plan.chart.toolbar.workpackage-btn' | translate}}
      </button>
    </span>
    <span fxFlex></span>
    <div *ngIf="(workpackages | async)?.length > 0" class="btn-group btn-group-sm mr-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary btn-sm" id="wpVersions" ngbDropdownToggle>{{'working-plan.chart.toolbar.versions' | translate}}</button>
        <div ngbDropdownMenu aria-labelledby="wpVersions">
          <button class="btn-sm" ngbDropdownItem>Option1</button>
          <button class="btn-sm" ngbDropdownItem>Option2</button>
        </div>
      </div>
    </div>
    <div *ngIf="(workpackages | async)?.length > 0" class="btn-group btn-group-sm">
      <div
        class="btn btn-light"
        (click)="onChartDateViewChange(ChartDateViewType.month)"
        [class.active]="(chartDateView | async) === ChartDateViewType.month">
        {{'working-plan.chart.toolbar.date-view.month' | translate}}
      </div>
      <div
        class="btn btn-light"
        (click)="onChartDateViewChange(ChartDateViewType.quarter)"
        [class.active]="(chartDateView | async) === ChartDateViewType.quarter">
        {{'working-plan.chart.toolbar.date-view.quarter' | translate}}
      </div>
      <div
        class="btn btn-light"
        (click)="onChartDateViewChange(ChartDateViewType.year)"
        [class.active]="(chartDateView | async) === ChartDateViewType.year">
        {{'working-plan.chart.toolbar.date-view.year' | translate}}
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
