<div>
  <h1>
    <span>{{stepTitle}}</span>
    <button class='btn btn-primary float-right'
            title="{{'impact-pathway.objectives.back-btn' | translate}}"
            (click)="back()">
      {{'impact-pathway.objectives.back-btn' | translate}}
    </button>
  </h1>
  <hr/>
  <ds-alert *ngIf="hasInfoMessage()" class="bg-light"
            [dismissible]="false"
            [content]="getInfoMessage()"
            [type]="'alert-info'"></ds-alert>
  <ng-container *ngFor="let task of getObjectivesTasks()">
    <ipw-objective [projectCommunityId]="projectCommunityId"
                   [impactPathwayStep]="impactPathwayStep"
                   [impactPathwayTask]="task"
                   [targetImpactPathwayTaskId]="targetImpactPathwayTaskId"
    ></ipw-objective>
  </ng-container>

</div>
