<div>
  <h1>
    <span>{{stepTitle}}</span>
    <button class='btn btn-primary float-right'
            title="{{'impact-pathway.objectives.back-btn' | translate}}"
            (click)="back()">
      {{'impact-pathway.objectives.back-btn' | translate}}
    </button>
  </h1>
  <hr/>
  <div class="d-flex justify-content-between">
    <ds-view-version-badges *ngIf="impactPathwayStepItem && (isVersionOfAnItem$ | async)"
                            [item]="impactPathwayStepItem"></ds-view-version-badges>
    <div class="mb-2 ml-auto">
      <ds-item-version-list class="float-right"
                            [btnClass]="'btn-md'"
                            [showOnlyVisible]="isFunder"
                            [targetItemId]="impactPathwayStep.id"
                            (versionSelected)="onVersionSelected($event)"
                            (versionDeselected)="onVersionDeselected()">
      </ds-item-version-list>
    </div>
  </div>
  <ds-alert *ngIf="hasInfoMessage()" class="bg-light"
            [dismissible]="false"
            [collapsible]="true"
            [content]="getInfoMessage()"
            [type]="'alert-info'"></ds-alert>
  <ng-container *ngFor="let task of getObjectivesTasks()">
    <ipw-objective [projectCommunityId]="projectCommunityId"
                   [impactPathwayStep]="impactPathwayStep"
                   [impactPathwayTask]="task"
                   [isVersionOfAnItem]="(isVersionOfAnItem$ | async)"
                   [isFunder]="isFunder"
                   [targetImpactPathwayTaskId]="targetImpactPathwayTaskId"></ipw-objective>
  </ng-container>

</div>
