// variables
$toolbarHeight: 64px;
$nodeWidth: 100px;
$calendarCellWidth: 60px;
$nodeHeight: 50px;
$activeColor: #89b34d;
$versionedColor: #B8BBBD;
$incompleteColor: #89b34d;
$overColor: #245016;
$overGrey: #fffde7;
$overVersionedColor: #7F8183;
$recentGrey: #fffef5;
$borderColor: #BDBDBD;
$highlightBorderColor: #FF9800;

::ng-deep .calendar-cell {
  text-align: center;
  line-height: $nodeHeight - 1px;
  height: $nodeHeight - 1px;
  min-width: $calendarCellWidth;
  min-height: $nodeHeight - 1px;
  border-width: 0.5px 1px;
  border-color: $borderColor;
  border-style: solid;
}

.calendar-cell-heading {
  text-align: center;
  line-height: ($nodeHeight / 2) - 1px;
  height: ($nodeHeight / 2) - 1px;
  min-width: $calendarCellWidth;
  min-height: ($nodeHeight / 2) - 1px;
  border-width: 0.5px;
  border-color: $borderColor;
  border-style: solid;
}

::ng-deep .calendar-cell.today {
  border-color: $highlightBorderColor;
  border-width: 0.5px 5px;
}

// completed cell
::ng-deep .calendar-cell[date-filled=true][date-inside=true] {
  background-color: $activeColor;
}

// incompleted cell
::ng-deep .calendar-cell[date-filled=false][date-inside=true] {
  background-color: $incompleteColor;
}

// MouseOver effect on the title cells on the left
.calendar-title-cell-over {
  background-color: $overGrey;
}

// Background color for new added nodes
.calendar-title-cell-now-added {
  background-color: $recentGrey;
}

.calendar-head-border {
  border-bottom: solid 2px $borderColor;
}

.calendar-head-year-border {
  border-bottom: solid 3px $borderColor;
}

.calendar-head-year-sub-border {
  border-bottom: solid 1px $borderColor;
}

.calendar-node-customization {
  height: 100%;
  align-items: center;
  border-top: none;
  border-left: none;
}

.calendar-cell-wrapper {
  background-color: transparent;
  height: 50px !important;
  min-height: 50px;
  line-height: 50px;
}

.calendar-inner-cell, .calendar-inner-cell-compare {
  min-height: 30px;
}

.calendar-inner-cell {
  z-index: 2;
}

.calendar-inner-cell-compare {
  z-index: 1;
  margin-top: -15px;
}

.calendar-cell-heading {
  border-bottom-width: 2px !important;
}

// incompleted cell
::ng-deep .calendar-cell[date-filled=false][date-inside=true] {
  background-color: $incompleteColor;
}

// completed inner cell
.calendar-inner-cell[date-filled=true][date-inside=true] {
  background-color: $activeColor;
}

.calendar-inner-cell-compare[date-filled=true][date-inside=true] {
  background-color: red;
}

// incompleted inner cell
.calendar-inner-cell[date-filled=false][date-inside=true] {
  background-color: $incompleteColor;
}

.calendar-inner-cell-compare[date-filled=false][date-inside=true] {
  background-color: $versionedColor;
}

// MouseOver effect on the filled cells
.calendar-inner-cell-over {
  background-color: $overColor !important;
}

// MouseOver effect on the filled cells
.calendar-inner-cell-compare-over {
  background-color: $overVersionedColor !important;
}

.tree-node-end-of-the-year-customization {
  border-right: solid 2px #666666 !important;
}
