<div class="d-flex flex-column p-2 bg-light rounded">
  <div class="d-flex justify-content-between">
    <h5>{{fieldTitle}}</h5>
    <div>
      <button *ngIf="compareMode" class="btn btn-lg btn-link p-0 flex-shrink-1 mr-2"
              title="{{'impact-pathway.compare' | translate}}" (click)="openCompareModal()">
        <i class="fas fa-not-equal"></i>
      </button>
      <button class="btn btn-primary btn-sm" [disabled]="disabled || compareMode"
              (click)="$event.preventDefault();  $event.stopPropagation(); openEditModal();">
        <span>
          <i class="far fa-edit"></i> {{editTitle}}
        </span>
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="d-flex">
    <textarea #textarea class="mt-2 form-control rounded-0 editor" rows="{{rows}}" title="{{fieldTitle}}"
              disabled="true" [value]="content || ''"></textarea>
  </div>
</div>
