<div class="d-flex flex-column p-2 bg-light rounded">
  <div class="d-flex justify-content-between">
    <h5>{{fieldTitle}}</h5>
    <button class="btn btn-primary btn-sm"
            (click)="$event.preventDefault();  $event.stopPropagation(); openEditModal();">
      <span>
        <i class="far fa-edit"></i> {{editTitle}}
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
  <ds-form *ngIf="formId && formModel?.length > 0" #formRef="formComponent"
           [formId]="formId"
           [formModel]="formModel"
           [formLayout]="formLayout"
           [displaySubmit]="false"
           [displayCancel]="false"
           [showContainer]="false"></ds-form>
</div>
