<div class="row p-3">
    <div class="labels">
        <ng-container *ngFor="let filter of ((appliedFilters | async) | keyvalue)"><!--Do not remove this to prevent uneven spacing
        --><button *ngFor="let value of filter.value"
                   class="btn badge badge-primary  mr-1 mb-1"
                   (click)="remove(filter.key, value)">{{ filter.key | titlecase}}: {{value}}
          <span> ×</span></button><!--Do not remove this to prevent uneven spacing
        --></ng-container>
    </div>
</div>
