<ds-impact-pathway-board *ngIf="(initialized | async) && impactPathWayItem"
                         [hasAnyFunderRole]="hasAnyFunderRole"
                         [isAdmin]="isAdmin"
                         [isFunderProject]="isFunderProject"
                         [projectCommunityId]="projectCommunityId"
                         [projectItemId]="projectItemId"
                         [impactPathwayId]="impactPathwayId"
                         [impactPathWayItem]="impactPathWayItem"></ds-impact-pathway-board>
