<div class="h-100 d-flex flex-column p-3 horizontal-step">

  <div class="d-flex justify-content-start">
    <button class="btn btn-link p-0 open-modal"
            title="{{'impact-pathway.add.btn' | translate}}"
            [disabled]="compareMode || isVersionOfAnItem"
            (click)="openModal(); $event.stopPropagation()">
      <i class="fas fa-plus-circle fa-2x text-info"></i>
    </button>
  </div>

  <div id="{{(questionsBoardStep$ | async).id}}"
       class="d-flex p-2 h-100 flex-wrap task-list-horizontal"
       cdkDropList
       cdkDropListOrientation="horizontal"
       [cdkDropListData]="(questionsBoardStep$ | async)"
       [cdkDropListConnectedTo]="connectedToList"
       (cdkDropListEntered)="listEnteredToTask($event)"
       (cdkDropListExited)="listExited($event)"
       >
    <ds-questions-board-task *ngFor="let task of (getTasks() | async); let i = index" cdkDrag
                             class="mb-sm-1 mb-lg-4 mb-5 mr-sm-1 mr-lg-4 task-horizontal draggable-task"
                             [cdkDragDisabled]="isVersionOfAnItem || compareMode"
                             [projectCommunityId]="projectCommunityId"
                             [questionsBoardId]="(questionsBoardStep$ | async).parentId"
                             [questionsBoardStepId]="(questionsBoardStep$ | async).id"
                             [questionsBoardStepType]="(questionsBoardStep$ | async).type"
                             [questionsBoardTask]="task"
                             [data]="task"
                             [cdkDragData]="task"
                             [taskPosition]="i"
                             [compareMode]="compareMode"
                             [isVersionOf]="isVersionOfAnItem"
                             [messagePrefix]="messagePrefix"
                             (cdkDragStarted)="dragStarted($event)"
                             (cdkDragDropped)="drop($event)"
                             (cdkDragEntered)="dragEnteredToStep($event)"
                             (cdkDragExited)="dragExited($event)" >

          <div *cdkDragPlaceholder
               class="task-placeholder task-horizontal draggable-task d-flex justify-content-center align-items-center mr-sm-1 mr-lg-4"
               [ngClass]="{
                    'task-preview-allowed': (isDragging | async) && (isDropAllowed | async),
                    'task-preview-denied': (isDragging | async) && !(isDropAllowed | async)
                  }">
            <i *ngIf="(isDragging | async) && (isDropAllowed | async)" class="fas fa-check fa-5x"></i>
            <i *ngIf="(isDragging | async) && !(isDropAllowed | async)" class="fas fa-exclamation fa-5x"></i>
          </div>
    </ds-questions-board-task>
  </div>
</div>
