.input-height-adjustment {
  height: calc(1.25em + 0.75rem + 2px);
}

.input-search-mt {
  margin-top: 7px;
}

.authority-typeahead {
  .dropdown-menu {
    width: 100% !important;
    max-height: var(--ds-dropdown-menu-max-height);
    overflow-y: auto !important;
    overflow-x: hidden;
    min-width: 500px;

  }

  .dropdown-item {
    border-bottom: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  }

  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color) !important;
    background-color: var(--bs-dropdown-link-hover-bg) !important;
  }
}

.treeview .modal-body {
  max-height: 85vh !important;
  overflow-y: auto;
}

/* style fa-spin */
.fa-spin {
  pointer-events: none;
}

/* align fa-spin */
.left-addon .far, .left-addon .fas {
  left: 0;
}

.right-addon .far, .right-addon .fas {
  right: 0;
}

/* add padding  */
.left-addon input {
  padding-left: $spacer * 2.25;
}

.right-addon input {
  padding-right: $spacer * 2.25;
}
