<div class="border-bottom mb-4 pb-2 d-flex justify-content-between align-items-center">
  <ds-comcol-page-header [name]="(messagePrefix + '.page.title' | translate )">
  </ds-comcol-page-header>
  <ds-view-version-badges *ngIf="questionsBoardObject && (isVersionOfAnItem$ | async)" [item]="questionsBoardObject"></ds-view-version-badges>
  <ds-item-version-list [btnClass]="'btn-md'"
                        [showOnlyVisible]="isFunder"
                        [targetItemId]="questionsBoardObjectId"
                        (versionSelected)="onVersionSelected($event)"
                        (versionDeselected)="onVersionDeselected()" >
  </ds-item-version-list>

</div>
<ds-loading *ngIf="(isLoading() | async)"></ds-loading>
<div *ngIf="!(isLoading() | async)">
  <ds-alert [type]="'alert-info'" [content]="messagePrefix + '.info.text'" [collapsible]="true"></ds-alert>

  <ds-questions-board-step *ngFor="let step of (getQuestionsBoardStep() | async)"
                           [messagePrefix]="messagePrefix"
                           [questionsBoardStep]="step"
                           [projectCommunityId]="projectCommunityId"
                           [fundingCommunity]="fundingCommunity"
                           [compareMode]="(compareMode | async)"
                           [isFunder]="isFunder"
                           [isVersionOfAnItem]="(isVersionOfAnItem$ | async)">
  </ds-questions-board-step>
  <ds-questions-upload-step [questionsBoardObject]="questionsBoardObject"
                            [messagePrefix]="messagePrefix"
                            [projectCommunityId]="projectCommunityId"
                            [fundingCommunity]="fundingCommunity"
                            [compareMode]="(compareMode | async)"
                            [isFunder]="isFunder"
                            [isVersionOfAnItem]="(isVersionOfAnItem$ | async)">
  </ds-questions-upload-step>
</div>
