<div class="container">
  <p *ngIf="query">Query: {{ query }}</p>

  <ng-container *ngVar="(resultListRD$ | async) as resultListRD">
    <div class="mt-4" *ngIf="resultListRD?.hasSucceeded" @fadeIn>
      <h3>{{'query-builder.synsicris.project.browse.head' | translate}}</h3>
      <ds-viewable-collection
        [config]="paginationConfig"
        [sortConfig]="sortConfig"
        [objects]="resultListRD"
        [hideGear]="true">
      </ds-viewable-collection>
    </div>
    <ds-error *ngIf="resultListRD?.hasFailed"
              message="{{'error.recent-submissions' | translate}}"></ds-error>
    <ds-loading *ngIf="!resultListRD || resultListRD.isLoading"
                message="{{'loading.recent-submissions' | translate}}"></ds-loading>
    <div *ngIf="!resultListRD?.isLoading && resultListRD?.payload?.page.length === 0" class="alert alert-info w-100" role="alert">
      {{'query-builder.synsicris.project.browse.empty' | translate}}
    </div>
  </ng-container>



</div>
