<div class="container">
  <ds-questions-board *ngIf="(initialized | async) && interimReport"
                      [hasAnyFunderRole]="hasAnyFunderRole"
                      [isAdmin]="isAdmin"
                      [isProjectReader]="isProjectReader"
                      [isFunderProject]="isFunderProject"
                      [fundingCommunity]="fundingCommunity"
                      [messagePrefix]="'interim-report'"
                      [projectCommunityId]="projectCommunityId"
                      [questionsBoardObject]="interimReport"
                      [showUploadStep]="true"></ds-questions-board>
</div>
