<div class="container">
  <ds-questions-board [hasAnyFunderRole]="(hasAnyFunderRole$ | async)"
                      [isFunderProject]="(isFunderProject$ | async)"
                      [fundingCommunity]="(fundingCommunity$ | async)"
                      [messagePrefix]="'interim-report'"
                      [projectCommunityId]="(projectCommunityId$ | async)"
                      [questionsBoardObject]="(interimReportRD$ | async)?.payload"
                      [showUploadStep]="true"></ds-questions-board>
</div>
