/* TODO: Remove comment when styles need to be applied only on print command  */

/* --------------------------- General rules --------------------------- */

ds-footer,
ds-alert-role,
ds-themed-breadcrumbs,
button:not(.sidebar-panel-toggle),
nav ds-link-menu-item,
nav ds-auth-nav-menu,
nav .navbar-nav a,
.dropdown-toggle,
span[tooltipclass] {
  display: none !important;
}

p {
  font-size: 12pt !important; /* recommanded */
}

a {
  text-decoration: none !important;
}

/* --------------------------------------------------------------------- */
#ipw i,
#ipw .task-left-bar,
#ipw .task-actions {
  display: none !important;
}

#ipw ds-impact-path-way-step {
  background-color: white !important;
}

.vertical-step {
  border-left: 0px !important;
  border-right: 1px dotted gray !important;
}

#ipw .task-container {
  border: 0.6px solid gray;
}

/* set width in cm when working with print styles */
#ipw {
  width: 35cm !important;/* fits the page in A4 format, also including the arrows */
}

#ipw ngx-domarrow .line {
  /* alternative solution to show the line, since the backgroud color is removed by print command */
  border-bottom: 2px solid red !important;
}
