// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';


.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem;
    text-align: left;
  }
}

header {
  li > .navbar-section,
  li > .expandable-navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

ds-metric-donuts a, ds-metric-donuts a img {
  height: 3.5rem !important;
  width: 3.5rem !important;
}

ds-metric-donuts a {
  background-size: contain;
}

.card-header > button > span, .card-header > button > div > span {
  font-size: 22px;
  font-weight: bold;
}

.synsi-list::before {
  content: '\2022';
}

.pie-label {
  font-size: 16px !important;
}

// from here on rex

/* -----------------------------------------------------------
MIXINS
----------------------------------------------------------- */
@mixin transition($transition-values) {
	-o-transition: $transition-values; 
	-ms-transition: $transition-values; 
	-moz-transition: $transition-values; 
	-webkit-transition: $transition-values; 
	transition: $transition-values;
	}

/* Webfonts
----------------------------------------------- */
// https://fonts.google.com/specimen/Nunito+Sans
/* Nunito Italic */
@font-face {
	font-family: 'Nunito-MediumItalic';
	src: url("../assets/fonts/nunito/Nunito-MediumItalic.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
	}

/* Nunito Medium */
@font-face {
	font-family: 'Nunito-Medium';
	src: url("../assets/fonts/nunito/Nunito-Medium.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
	}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
  }
  


/* -----------------------------------------------------------
BASIC LAYOUT
----------------------------------------------------------- */

.outer-wrapper {

  // Content area
  .inner-wrapper { 

    background-color: var(--sy-body-background-color); // basic background color of content area (found --bsbody-bg and --bs-body-color, but they didn't show an effect)

    main.main-content {
      padding-top:0 !important;

      .cris-layout {

        /* this tag gets the specific colors for the level
        Therefore the classes "Person", "Project" and "Funding" were added in 
        src/app/cris-layout/cris-layout-leading/cris-layout-leading.component.html
        with class="{{'existing-css ' + item.entityType}}" */
      
        #cris-layout-leading { 

          margin-top:1.1rem !important; // covers otherwise breadcrumb

          // level 1 (person)
          &.Person {
            background-color:var(--sy-level-person-background-color);
            border-bottom:1px solid var(--sy-level-person-border-color);
            .headerbox {
              i.fas {color:var(--sy-level-person-icon-color)}
            }
          } // end &.Person

          // level 2 (project)    
          &.Project {
            background-color:var(--sy-level-project-background-color);
            border-bottom:1px solid var(--sy-level-project-border-color);
            .headerbox {
              i.fas {color:var(--sy-level-project-icon-color)}
            }
          } // end &.Project

          // level 3 (funding)
          &.Funding {
            background-color:var(--sy-level-funding-background-color);
            border-bottom:1px solid var(--sy-level-funding-border-color);
            .headerbox {
              i.fas {color:var(--sy-level-funding-icon-color)}
            }
          }  // end &.Funding  

          // box with buttons
          div.container.text-right.context-menu { padding-top:0.4rem; }

          /*  221126 rex: can't figure out where the inner padding of the headerbox comes from, especially the padding-bottom is much too high
          lower height of headerbox could be enforced with height:2rem !important; to make the unnecessarily high headerbox narrower, but then the two-line header might be cut off. */
          .headerbox { 

            // 1. headline with Icon
            .headline-workspace {
              font-size:1.2rem;
              font-weight: 600 !important;
            }
            // 2. headline 
            .h4 {
              margin-bottom:0.8rem !important;
              margin-top:-0.2rem;
              font-size:1.6rem !important;
            }

          } // end headerbox ...

        } // end #cris-layout-leading
      } // end .cris-layout
    } // end main.main-content

  } // end .inner-wrapper
} // end .outer-wrapper



/* -----------------------------------------------------------
TESTS TO IDENTIFY LAYOUT AREAS (rex)
----------------------------------------------------------- */
/*
.outer-wrapper {
  //border:2px solid red !important;

  .inner-wrapper {
    //border:2px solid blue !important;

    // box unter header, seltsamerweise nicht mit border-top
    // wird vo beadcrumb ueberschnitte
    main.main-content {           //tag, keine Klasse!
      border:10px solid blue !important;
      background-color:blue !important;
      display:block !important;
    
      ds-themed-breadcrumbs {     //tag, keine Klasse!
        border:2px solid red !important;
        background-color:red !important;
        display:block !important;
        
        ds-breadcrumbs {     //tag, keine Klasse!
          background-color:pink !important;
          border:5px solid pink !important;
        } // end ds-breadcrumbs

      } // end ds-themed-breadcrumbs

      // gesamter Inhalt unterhalb breadcrumb
      .cris-layout {
        border:5px solid yellow !important;
        display:block;

        // xxx
        .ds-cris-layout-leading {
          border:5px solid lime !important;
          display:block !important;
        }

        // box um headerbox
        #cris-layout-leading {
          border:5px solid orange !important;
          display:block;

          .headerbox_level_1,
          .headerbox_level_2,
          .headerbox_level_3 { border:5px solid violet !important; }

        } // ed #cris-layout-leading

      } // end .cris-layout

    } // end main.main-content
     
      //&.ng-trigger-slideSidebarPadding { } // probably for the black Admin-Sidebar (to be tested with differet login / einloggen as shared ist am 4.11. nicht möglich)
      //.ds-themed-header-navbar-wrapper { //border:2px solid orange !important; 

    } // end .inner-wrapper
  } // end .outer-wrapper

  .notifications-wrapper { } // for notification with fixed position top-right and bottom-right
 */


/* -----------------------------------------------------------
HELPER TO SHOW THE CURRENT WINDOW SIZE (rex 220505)
helps to recognize breakpoints
Span-Tag is in src/themes/synsicris/app/header/header.component.html
----------------------------------------------------------- */
/*
header .display-dev-infos:after {
  color:hsl(0, 0, 36);
  rotate:-90deg;
  display:inline-block;
  position:fixed;
  top:30rem;
  left:-2rem;
  z-index:1000;
  padding-top:0.1rem;
  border-top:3px solid transparent;
  background-color:rgba(255,255,255,0.4);

  content:"extra small (xs) < 576"; border-color:orange;
  @include media-breakpoint-up(sm) {content:"Mediaquery: small (sm) ≥ 576px";border-color:rgb(237, 7, 107);}
  @include media-breakpoint-up(md) {content:"Mediaquery: medium (md) ≥ 768px";border-color:rgb(207, 243, 97);}
  @include media-breakpoint-up(lg) {content:"Mediaquery: large (lg) ≥ 992";border-color:rgb(12, 206, 224);}
  @include media-breakpoint-up(xl) {content:"Mediaquery: extra large (xl) ≥ 1200";border-color:rgb(41, 75, 223);}
}
*/

/* -----------------------------------------------------------
HEADER with horizontal navbar

ATTENTION
Styles for the header are defined in src/themes/synsicris/styles/_global-styles.scss
in order to avoid the same duplication as in the HTML code
because the navbar with logo exists twice: 
- <= mediaquery-sm with hamburger-button in header.component.html
- >= mediaquery md in navbar.component.html 
----------------------------------------------------------- */
header {

  li > .navbar-section,
  li > .expandable-navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

   /* from here defined from rex */

  /* Icons in header. Needs to be defined outside nav.navbar, because the code differs in header.component.html 
  and navbar.component.html. 
  provisional contact link until it is integrated by development (rex 221028),
  therefore the style here is only provisionally adapted to the other buttons,
  margin-right in order to give it the same distance to the following icon even without a dropdown arrow. 
  */
  a.header-contact {      
    span { display: none; } // make label invisible
    margin-right: 1.2rem;
  }
  // Icos in Header and Hamburger Icon
  a.navbar-collapsed i.fas, 
  a.navbar-collapsed span,
  button.navbar-toggler span.fas {     
    color: var(--ds-header-icon-color) !important;  
  }

  nav.navbar {

    border-bottom: 1px var(--ds-header-navbar-border-bottom-color) solid !important; // replaces green line

    /* SYNSICRIS LOGO */
    .navbar-brand .synsicris-logo {
      font-weight: 600;
      font-size: 1.8rem;
      letter-spacing: .01rem;
      color: var(--sy-synsicris-logo-color-gray);
      span {
        text-transform: uppercase;
        span { color: var(--sy-synsicris-logo-color-magenta); }
      }
    } // end .navbar-brand

    /* Elements in header on the right side of the Synsicris-Logo, space between menu items and make them smaller */
    .navbar-nav {
      margin: 0 0.4rem;
      font-size: 0.85rem;
      // Icons in header - twice because of differet code
      a:link, a:visited { i.fas, span {color: var(--ds-header-icon-color) !important;} }
      // Textlinks on the left side near logo
      &.textlinks-in-header {font-family:'Nunito-Medium';}
    } // end .container .navbar-nav

  } // end nav.navbar

} // end header



/* -----------------------------------------------------------
BREADCRUMB (rex 230210)
ATTENTION: in src/themes/synsicris/app/breadcrumbs/breadcrumbs.component.scss are already the final stylesheets 
for breadcrumbs with entity tag according to 
https://github.com/Synsicris/Userinterface1a/issues/52#issuecomment-1241349651 !
----------------------------------------------------------- */
/* */
ds-breadcrumbs nav.nav-breadcrumb { // complete bar

  //display:none !important;

  // WORKAROUND WITH BOX-SHADOW, BECAUSE BORDER-BOTTOM DOESN'T WORK
  // because ol.breadcrumb moves inside v.nav.breadcrumb as soon as a border is used.
  // Therefore border-top for breadcrumb bar IS in navbar.component.scss in nav.navbar,
  // and border-bottom here as shadow
  box-shadow: 0 1px 0 var(--ds-header-navbar-border-bottom-color);

  ol.breadcrumb {

    background-color: transparent; // Breadcrumb-Links had a background-color, that is not needed

    li.breadcrumb-item {

      a:link, a:hover, a:focus, a:visited {
        color: var(--ds-breadcrumb-link-color) !important;
      }

      & + .breadcrumb-item::before {
        content: quote("/") !important;
      }
    } // end li.breadcrumb-item

  } // end ol.breadcrumb

} // end ds-breadcrumbs nav.nav-breadcrumb



/* -----------------------------------------------------------
SIDEBAR (rex 221201)
Sidebar is noth themeable, and only a few of the existing variables in 
_theme_css_variable_overrides.scss affect the current design. 

ATTENTION: in case of misrepresentations in the sidebar very often mistakes in the language files are the cause!
----------------------------------------------------------- */

// Hide sidebar collapse button
button.menu-toggle {display:none;}

#sidebar {

  /* Basic Styles Sidebar
  --------------------- */
  // Distance sidebar top and bottom
  margin:0.9rem auto;
  // similar border-radius as helptext-box
  border-radius:5px;

  // Top finish Sidebar
  & ul:first-child ds-cris-layout-sidebar-item:first-child li {
    border-top:1px solid var(--sy-cris-layout-sidebar-first-child-border-top-color); // Grey border as with fold-out elements #DFDFDF
  }

  /* basic styles of all lists of all areas
  -------------------------------------- */
  // all list elements - both direct links and with another expandable ul level
  li.sidebar-section {

    background-color:var(--sy-cris-layout-sidebar-tab-direct-color) !important;      // Standard light blue for menu items #EFF4F7
    &:hover {background-color:var(--ds-cris-layout-sidebar-tab-color-hover);}
    border-bottom: 2px solid var(--sy-cris-layout-sidebar-tab-border-bottom-color);  // white
    //border-top:1px solid var(--sy-cris-layout-sidebar-tab-border-top-color);         // light grey
    position:relative;

    // General formatting for links
    a.nav-item, a span.section-header-text {
      text-decoration:none !important;
      color:var(--sy-cris-layout-sidebar-link-text-color);
      font-weight:400;
      }
    
    // contains the pop-up group ul second layer
    div.sidebar-collapsible {

      background-color:var(--sy-body-background-color); // otherwise the background remains visible behind the li of the second layer.
      // Background of the pop-up menu items only, not the items underneath.
      & a.nav-item:first-child {
        background-color:var(--sy-cris-layout-sidebar-tab-expandable-color);        // light gray
        &:hover {background-color:var(--ds-cris-layout-sidebar-tab-color-hover);}   // white
      } 
      
      // second level
      ul.sidebar-sub-level-items {
        position:relative;
        margin-top:0.15rem; // Distance from fold-out link
        left:0.5rem;  // Indentation of the entire second level
        li a.nav-item {
          background-color:var(--sy-cris-layout-sidebar-tab-direct-color) !important; // Standard light blue of the direct link-tabs
          &:hover {background-color:var(--ds-cris-layout-sidebar-tab-color-hover) !important;}
          border-bottom: 2px solid var(--sy-body-background-color); // bright border
          padding-left:0.6rem !important; // by default, 1.5rem padding was left, but this is too much with indented lists
        
        }
        //* Highlight must be defined separately here */
        li.active a.nav-item {
          background-color:var(--ds-cris-layout-sidebar-menu-active-background) !important;
        }
      } // end ul.sidebar-sub-level-items

      /* Fold-out links with arrows
      arranges the unfolding arrows at the bottom instead of in the middle so that it fits the special solution 
      of the subdivided sideba in the Level Project */
      a.nav-item {
        -webkit-box-align:flex-end;
        box-align:flex-end;
        align-items:flex-end;

        /* Text labels only of the expandable meu items as well as the contained sub-items, but not of the simple links of the first level!
        The simple links are directly in a and in no span-tag */
        span.section-header-text {    
          /* limits the label width, so that it is not pulled into the width by the extraordinary before-box in #sidebar.project 
          is pulled into the width and thus the arrow is not pushed outside the sidebar!!! */
          max-width:calc(var(--ds-cris-layout-sidebar-width) - 4.5rem);
          
          // Folding arrow
          i.fas.fa-chevron-right { }

        } //end span.section-header-text
      } // end a.a.nav-item
    } // end div.sidebar-collapsable
  } // end li.sidebar-section


/* STYLES FOR LEVEL 1 (Person)
--------------------------- */
&.Person {
  // level-hightlight-border
  li.active:not(.expanded) {
  border-left:4px solid var(--sy-level-person-border-color) !important;
  }
} // end &.Person

/* STYLES FOR LEVEL 2 (Project) WITH SPECIAL SOLUTION FOR SIDEBAR INTERHEAD
------------------------------------------------------------------------ */
&.Project {
  
  // concerns first level lists (.sidebar-section) and second level, therefore outside the li below
  li.active:not(.expanded) {
  border-left:4px solid var(--sy-level-project-border-color);    // Highlight-border-left
  //span.section-header-text { margin-left:-20px; }              // Compensation jerking due to highlight border
  }

  li.sidebar-section {
    div.sidebar-collapsible {
      a.nav-item {

        /* .section-header-text#sidebarName-2153 is the id with the list block above it */
        span.section-header-text {    

          /* content reads out the content of the alt attribute in the language file:
          "layout.tab.header.Projectobjectives": "<span class=\"entry-with-space-before-to-divide-sidebar\" alt=\"Listen\">Ziele des Vorhabens</span>",  
          https://www.heise.de/select/ix/2017/3/1487591950470172 */
          .sidebar-interhead {

            &:after {
              content: "  "attr(alt)" ";
              display:block; 
              width:calc(var(--ds-cris-layout-sidebar-width) + 0.5rem);
              background-color: var(--sy-body-background-color) !important;
              margin:-0.65rem 0 1rem -2rem;     // pulls gap space to the left
              padding:0.6rem 0 0.6rem 0.5rem;  
              font-weight:800;
              font-family:"Nunito", sans-serif;
              color: var(--ds-cris-layout-sidebar-menu-active-color); // dark grey
            } // end &:after

          } // end .sidebar-interhead

          
          // Aufklapppfeil
          i.fas.fa-chevron-right { }

        } //end span.section-header-text
      } // end a.a.nav-item
    } // end div.sidebar-collapsable
  } // end li.sidebar-section
} // end &.Project


/* STYLES FOR LEVEL 3 (Funding)
---------------------------- */
&.Funding {
  // level-hightlight-border
  li.active:not(.expanded) {border-left:4px solid var(--sy-level-funding-border-color) !important;}
  } // end &.Funding


} // end #sidebar


/* -----------------------------------------------------------
TOOLTIP (rex 221021)
----------------------------------------------------------- */

.hint-tooltip .tooltip-inner {
  max-width: 32rem; // somewhere (not clear, where) the width is defined with max-width:200px, so overwritten here
  padding: 1.2rem;
  text-align: left;
  box-shadow: 0 5px 15px var(--ds-tooltip-boxshadow-color); // shadow behind tooltip
  background-color: var(--ds-tooltip-inner-background-color);
  color: var(--ds-tooltip-inner-color);
}

/* arrow gets same color as the bubble background */
.bs-tooltip-top .arrow::before,
.bs-tooltip-right .arrow::before,
.bs-tooltip-left .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-top-color: var(--ds-tooltip-inner-background-color);
}