// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';


.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem;
    text-align: left;
  }
}

header {
  li > .navbar-section,
  li > .expandable-navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

ds-metric-donuts a, ds-metric-donuts a img {
  height: 3.5rem !important;
  width: 3.5rem !important;
}

ds-metric-donuts a {
  background-size: contain;
}

.card-header > button > span, .card-header > button > div > span {
  font-size: 22px;
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
}

.synsi-list::before {
  content: '\2022';
}

.pie-label {
  font-size: 16px !important;
}

// from here on rex
@import 'synsicris-optimizations/mixins.scss';
@import 'synsicris-optimizations/basic_layout.scss';
@import 'synsicris-optimizations/header.scss';
@import 'synsicris-optimizations/breadcrumb.scss';
@import 'synsicris-optimizations/sidebar.scss';
@import 'synsicris-optimizations/modal_window.scss';
@import 'synsicris-optimizations/tooltip.scss';
@import 'synsicris-optimizations/nav_tabs.scss';
@import 'synsicris-optimizations/impact_pathway.scss';
@import 'synsicris-optimizations/impact_pathway_card.scss';
@import 'synsicris-optimizations/impact_pathway_editable_textarea.scss';
@import 'synsicris-optimizations/working-plan.scss';
@import 'synsicris-optimizations/colors-global.scss';
@import 'synsicris-optimizations/questions-board.scss';
// @import 'synsicris-optimizations/legend_symbols.scss'; // deactivated for now, but kept for possible further development



/* -----------------------------------------------------------
HELPER TO SHOW THE CURRENT WINDOW SIZE (rex 220505)
helps to recognize breakpoints
Span-Tag is in src/themes/synsicris/app/header/header.component.html
----------------------------------------------------------- */
/*
header .display-dev-infos:after {
  color:hsl(0, 0, 36);
  rotate:-90deg;
  display:inline-block;
  position:fixed;
  top:30rem;
  left:-2rem;
  z-index:1000;
  padding-top:0.1rem;
  border-top:3px solid transparent;
  background-color:rgba(255,255,255,0.4);

  content:"extra small (xs) < 576"; border-color:orange;
  @include media-breakpoint-up(sm) {content:"Mediaquery: small (sm) ≥ 576px";border-color:rgb(237, 7, 107);}
  @include media-breakpoint-up(md) {content:"Mediaquery: medium (md) ≥ 768px";border-color:rgb(207, 243, 97);}
  @include media-breakpoint-up(lg) {content:"Mediaquery: large (lg) ≥ 992";border-color:rgb(12, 206, 224);}
  @include media-breakpoint-up(xl) {content:"Mediaquery: extra large (xl) ≥ 1200";border-color:rgb(41, 75, 223);}
}
*/

/* -----------------------------------------------------------
HELP-TEXT
----------------------------------------------------------- */
// help-text boxes generic
.alert-info {}


/* -----------------------------------------------------------
BUTTONS (rex 230324)
 must first be verified more systematically throughout the application, because it leads to misrepresentations
in the working plan, for example, as if the base rem values were different there,
although rem actually refers to the font size in the body, i.e. it should be independent of individual components.
therefore defined for impact pathway only for the time being - generalize later!
----------------------------------------------------------- */

button.btn-link {
  i {
    //font-size:1.2rem;
  }
  // hover-Effect for icon-Buttons,
  &:hover {
    //background-color:var(--sy-color-blue-94);
  }
}
