// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

/* 
rex 220505 helps to recognize breakpoints 
selector in /src/app/header/header.component.html
https://getbootstrap.com/docs/4.6/layout/overview/

header .helper-rex:after {
  display:inline-block;
  position:fixed;
  top:0;
  left:20rem;
  z-index:1000;
  padding:0.2rem;
  background-color:white;
  border:3px solid lime;

  content:"extra small (xs) < 576";
  @include media-breakpoint-up(sm) {content:"small (sm) ≥ 576px";}
  @include media-breakpoint-up(md) {content:"medium (md) ≥ 768px";}
  @include media-breakpoint-up(lg) {content:"large (lg) ≥ 992";}
  @include media-breakpoint-up(xl) {content:"extra large (xl) ≥ 1200";}
}
*/

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem;
    text-align: left;
  }
}

header {
  li > .navbar-section,
  li > .expandable-navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

ds-metric-donuts a, ds-metric-donuts a img {
  height: 3.5rem !important;
  width: 3.5rem !important;
}

ds-metric-donuts a {
  background-size: contain;
}

.card-header > button > span, .card-header > button > div > span {
  font-size: 22px;
  font-weight: bold;
}

.synsi-list::before {
  content: '\2022';
}

.pie-label {
  font-size: 16px !important;
}

.hint-tooltip .tooltip-inner {
  background-color: var(--ds-tooltip-inner-backgroud-color);
  color: var(--ds-tooltip-inner-color);
  border: 1px solid var(--ds-tooltip-inner-border-color);
}
.bs-tooltip-top .arrow::before {
  border-top-color: var(--ds-tooltip-inner-color);
}
.bs-tooltip-right .arrow::before {
  border-right-color: var(--ds-tooltip-inner-color);
}
.bs-tooltip-left .arrow::before {
  border-left-color: var(--ds-tooltip-inner-color);
}
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--ds-tooltip-inner-color);
}

