// Override or add CSS variables for your theme here

:root {

  --ds-header-logo-height: 40px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};

<<<<<<< HEAD
  /* ------- FOOTER (rex 221104) */
   //--ds-footer-logo-height: 50px;
   --ds-footer-bg: white;
   --ds-footer-border: 1px solid rgba(161, 175, 184, 1);
   --ds-footer-padding:2.0rem 1.25rem 2.0rem 1.25rem !important;

=======
>>>>>>> 380e8d8ce252b62cd5b4285e372a74066d83a61e
  /* ----------------- TOOLTIP (rex 221021) */
  --ds-tooltip-inner-background-color: rgba(228,247,253,1); // background of bubble ad arrow color bright blue
  --ds-tooltip-inner-color: #{$blue-dark}; // text color dark blue
  --ds-tooltip-boxshadow-color: rgba(3, 36, 74, 0.7); // shadow

<<<<<<< HEAD
=======

>>>>>>> 380e8d8ce252b62cd5b4285e372a74066d83a61e
   /* ----------------- DROPDOWN (rex 220415) */
   /* rex 220415 : increased to 218px (with lines) / 212px (without lines), so that the following line is still visible
  in a truncated form, so that the user recognises that more items follow. The previous height specification in pixels,
  however, only works with medium font size. To ensure that it also works when the font size is changed,
  relative dimensions are used instead, assuming that the root font size is 16px. */
<<<<<<< HEAD
    //--ds-dropdown-menu-max-height: 200px; // originally
=======

    //--ds-dropdown-menu-max-height: 200px; // origially
>>>>>>> 380e8d8ce252b62cd5b4285e372a74066d83a61e
    //--ds-dropdown-menu-max-height: 13.5rem; // rex 220415 with lines between menu items
  --ds-dropdown-menu-max-height: 13.25rem; // rex 220415 without lines between menu items, see /src/app/shared/form/builder/ds-dynamic-form-ui/models/scrollable-dropdown/dynamic-scrollable-dropdown.component.scss
  --ds-dropdown-menu-background-color: #{$gray-bright};

  /* ----------------- BREADCRUMB (rex 221028) */
  --ds-breadcrumb-bg: rgb(246,246,246) !important;
  --ds-breadcrumb-link-color: rgb(0,121,168) !important;

  /* ----------------- HEADER (rex 221104) */
  --ds-header-navbar-border-top-color: #{$white};
  --ds-header-navbar-border-bottom-color: rgba(161, 175, 184, 1);

  /* ----------------- SIDEBAR (rex preparation) */
  /*
  --ds-sidebar-items-width: #{$sidebar-items-width};
  --ds-total-sidebar-width: #{$total-sidebar-width};

  --ds-cris-layout-sidebar-width: 350px;
  --ds-cris-layout-sidebar-background-color: #{$gray-200};
  --ds-cris-layout-sidebar-link-color: rgba(0,0,0,.8);
  --ds-cris-layout-sidebar-link-color-active: #000000;
  --ds-cris-layout-sidebar-menu-background: #207698;
  --ds-cris-layout-sidebar-menu-color: #fff;
  --ds-cris-layout-sidebar-link-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --ds-cris-layout-sidebar-entry-height: 40px;
  --ds-cris-layout-sidebar-entry-width: 40px;
  --ds-cris-layout-sidebar-border-color: #207698;
  --ds-cris-layout-sidebar-hover-focus-background-color: #207698;
  --ds-cris-layout-sidebar-hover-focus-border-color: #207698;
  --ds-cris-layout-sidebar-menu-active-color: #{$cyan};
  --ds-cris-layout-sidebar-menu-active-background: #{theme-color('light')};
  --ds-cris-layout-sidebar-tab-color-hover : #{theme-color('light')};
  */

}

