<ng-container *ngIf="!(isDismissed$ | async) as visible">
  <div class="alert {{type}} fade show w-100" role="alert" [class.alert-dismissible]="dismissible"
       [@enterLeave]="animate$ | async">
    <button *ngIf="dismissible" type="button" class="close" data-dismiss="alert"
            attr.aria-label="{{'alert.close.aria' | translate}}" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex justify-content-between flex-column">
      <div *ngIf="collapsible; else contentSpan">
        <ds-truncatable [id]="truncatableId">
          <ds-truncatable-part [minLines]="3" [background]="'transparent'" [id]="truncatableId">
            <ng-container *ngTemplateOutlet="contentSpan"></ng-container>
          </ds-truncatable-part>
        </ds-truncatable>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #contentSpan>
  <ng-container *ngIf="content$ | async as content">
    <span [innerHTML]="content | translate"></span>
  </ng-container>
  <ng-content></ng-content>
</ng-template>
