<ds-configuration-search-page *ngIf="configuration" class="w-100"
                              [fixedFilterQuery]="searchFilter"
                              [configuration]="configuration"
                              [searchEnabled]="searchEnabled"
                              [sideBarWidth]="sideBarWidth"
                              [showExport]="false"
                              [showSidebar]="true">
  <ds-item-create additionalSearchOptions [relatedEntityType]="item.entityType" [targetEntityType]="box.shortname" [scope]="projectScope.uuid"></ds-item-create>
</ds-configuration-search-page>
