<ds-configuration-search-page #configurationSearchPage *ngIf="configuration" class="w-100"
                              [fixedFilterQuery]="searchFilter"
                              [collapseCharts]="true"
                              [collapseFilters]="true"
                              [configuration]="configuration"
                              [searchEnabled]="searchEnabled"
                              [sideBarWidth]="sideBarWidth"
                              [showCharts]="true"
                              [showChartsToggle]="true"
                              [showExport]="false"
                              [showFilterToggle]="true"
                              [showScopeSelector]="false"
                              [showSidebar]="true"
                              [showViewModes]="false"
                              [useCachedVersionIfAvailable]="false"
                              (customEvent)="refresh()">
  <ds-item-create additionalSearchFormOptions *ngIf="canCreateItems$ | async"
                  [item]="item"
                  [relatedEntityType]="item.entityType"
                  [targetEntityType]="getTargetEntity()"
                  [scope]="projectScope?.uuid"
                  (refresh)="refresh()"></ds-item-create>

  <ds-item-import-metadata-external
                  additionalSearchFormOptions
                  [targetEntityType]="getTargetEntity()"
                  [item]="item"
                  [scope]="projectScope?.uuid"></ds-item-import-metadata-external>
</ds-configuration-search-page>
