<div>
  <div class="modal-header">{{'compare-item.header' | translate}}
    <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngVar="(items$ | async) as items">
      <ng-container *ngIf="!!items && (metadataKeys$ | async)?.length > 0">
        <ng-container *ngVar="(metadataKeys$ | async) as metadataKeys">
          <div *ngIf="!!metadataKeys" class="table-container">
            <table id="groups" class="table table-striped table-hover table-bordered">
              <thead>
              <tr>
                <th scope="col" class="align-middle">{{'compare-item.table.key' | translate}}</th>
                <th scope="col" class="align-middle">{{'compare-item.table.base-item' | translate}}</th>
                <th scope="col" class="align-middle">{{'compare-item.table.versioned-item' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let metadataKey of metadataKeys"
                  [ngClass]="getClass(metadataKey, items[0].allMetadata(metadataKey), items[1].allMetadata(metadataKey))">
                <td class="align-middle">{{metadataKey}}</td>
                <td class="align-middle">
                  <div *ngFor="let val of items[0].allMetadataValues(metadataKey)">
                    {{val}}
                  </div>
                </td>
                <td class="align-middle">
                  <div *ngFor="let val of items[1].allMetadataValues(metadataKey)">
                    {{val}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
