<ngb-accordion
  #accordionRef
  [destroyOnHide]="false"
  [closeOthers]="false"
  [activeIds]="activeIds"
  (panelChange)="changeAccordionState($event)"
>
  <ngb-panel id="panel-0">
    <ng-template ngbPanelTitle >
      <div class="d-flex justify-content-between">
        <span class="float-left text-justify" tabindex="0"> {{'comment-list.header' | translate}}</span>
        <a class="close" tabindex="0" role="button" *ngIf="showAccordionPanelToggle">
          <span *ngIf="isCommentAccordionOpen" class="fas fa-chevron-up fa-fw"></span>
          <span *ngIf="!isCommentAccordionOpen" class="fas fa-chevron-down fa-fw"></span>
        </a>
     </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="row m-0">
        <div class="col-12 p-0">
          <ds-comment-list
            [relatedBoard]="workingPlan"
            [relatedEntityType]="workingPlan.entityType"
            [itemUuid]="workingPlan.uuid"
            [showCardHeader]="false"
            [projectCommunityId]="projectCommunityId"
            [type]="workingPlan.entityType">
          </ds-comment-list>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
