<div id="{{taskHTMLDivId}}" >
  <ng-content></ng-content>
  <div class="task-wrap d-flex flex-column"
       [class.bg-gradient-light]="isDisabled()"
       [class.task-disabled]="isDisabled()"
       [class.task-focus]="(hasFocus$ | async)"
       ipwTaskColor
       [taskType]="data.type"
       (click)="setFocus($event)">
    <div class="task-header d-flex p-1 justify-content-between">
      <div class="text-break flex-shrink-1 font-weight-bold w-100 pr-2">
        <span>{{data.title}}</span>
      </div>
      <button *ngIf="data.hasParent()"
              class="btn btn-lg btn-link p-0 flex-shrink-1 align-self-start"
              [disabled]="(isEditingRelation() | async)"
              (click)="removeTask(); $event.stopPropagation()">
        <span *ngIf="!(isProcessingRemove() | async)"><i class='far fa-trash-alt'></i></span>
        <span *ngIf="(isProcessingRemove() | async)"><i class='fas fa-circle-notch fa-spin'></i></span>
      </button>
    </div>
    <div class="task-content text-truncate p-1 d-flex justify-content-between">
      <span>{{data.description}}</span>
      <div *ngIf="(canShowRelationCheckBox() | async)" class="custom-control custom-checkbox position-static">
        <input type="checkbox"
               class="custom-control-input"
               id="taskConnect{{taskHTMLDivId}}"
               [checked]="isTaskPartOfRelation() | async"
               (change)="onCheckBoxChange($event)">
        <label class="custom-control-label" for="taskConnect{{taskHTMLDivId}}"></label>
      </div>
    </div>
    <div *ngIf="data.hasParent() && !isObjectivePage" class="d-flex justify-content-end">
      <button *ngIf="(canShowRelationButton(true) | async)"
              class="btn btn-lg btn-link p-0 flex-shrink-1"
              [disabled]="(canHideRelationButtons(true) | async)"
              (click)="setEditRelations(true); $event.stopPropagation()">
        <span><i class="fas fa-exchange-alt"></i></span>
      </button>
      <button *ngIf="(isEditingRelationOnTask(true) | async)"
              class="btn btn-lg btn-link p-0 flex-shrink-1"
              [disabled]="(canHideRelationButtons(true) | async)"
              (click)="saveRelations(); $event.stopPropagation()">
        <span><i class='far fa-save'></i></span>
      </button>
      <button *ngIf="(canShowRelationButton(false) | async)"
              class="btn btn-lg btn-link p-0 flex-shrink-1"
              [disabled]="(canHideRelationButtons(false) | async)"
              (click)="setEditRelations(false); $event.stopPropagation()">
        <span><i class="fas fa-long-arrow-alt-right"></i></span>
      </button>
      <button *ngIf="(isEditingRelationOnTask(false) | async)"
              class="btn btn-lg btn-link p-0 flex-shrink-1"
              [disabled]="(canHideRelationButtons(false) | async)"
              (click)="saveRelations(); $event.stopPropagation()">
        <span><i class='far fa-save'></i></span>
      </button>
      <button *ngIf="data.hasDetail()"
              class="btn btn-lg btn-link p-0 flex-shrink-1"
              [disabled]="(isEditingRelation() | async)"
              (click)="showObjectives(); $event.stopPropagation()"><i class="fas fa-info-circle"></i>
      </button>
    </div>
  </div>
</div>
