<ng-container *ngVar="(user$ | async) as user">
  <div class="container" *ngIf="user">
    <h3 class="mb-4">{{'profile.head' | translate}}</h3>

    <div *ngIf="isResearcherProfileEnabled() | async" class="mb-4">
      <ngb-accordion #accordionRefResearcher [activeIds]="activeIds">

        <ngb-panel id="profile-card-researcher">
          <ng-template ngbPanelTitle>
            <span class="float-left">{{'profile.card.researcher' | translate}}</span>
            <div class="d-inline-block float-right">
              <a class="close" role="button"
                [attr.aria-label]="(accordionRefResearcher.isExpanded('profile-card-researcher') ? 'cris-layout.toggle.aria.close' : 'cris-layout.toggle.aria.open') | translate: {sectionHeader: 'profile.card.researcher' | translate}"
                [title]="(accordionRefResearcher.isExpanded('profile-card-researcher') ? 'cris-layout.toggle.close' : 'cris-layout.toggle.open') | translate">
                <span *ngIf="accordionRefResearcher.isExpanded('profile-card-researcher')"
                  class="fas fa-chevron-up fa-fw"></span>
                <span *ngIf="!accordionRefResearcher.isExpanded('profile-card-researcher')"
                  class="fas fa-chevron-down fa-fw"></span>
              </a>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="mb-4">
              <ds-profile-page-researcher-form [user]="user"></ds-profile-page-researcher-form>
            </div>
            <ds-suggestions-notification></ds-suggestions-notification>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>

    </div>

    <div class="mb-4" >
      <ngb-accordion #accordionRefIdentify [activeIds]="activeIds">
        <ngb-panel id="profile-card-identify">
          <ng-template ngbPanelTitle>
            <span class="float-left">{{'profile.card.identify' | translate}}</span>
            <div class="d-inline-block float-right">
              <a class="close" role="button"
                [attr.aria-label]="(accordionRefIdentify.isExpanded('profile-card-identify') ? 'cris-layout.toggle.aria.close' : 'cris-layout.toggle.aria.open') | translate: {sectionHeader: 'profile.card.identify' | translate}"
                [title]="(accordionRefIdentify.isExpanded('profile-card-identify') ? 'cris-layout.toggle.close' : 'cris-layout.toggle.open') | translate">
                <span *ngIf="accordionRefIdentify.isExpanded('profile-card-identify')"
                  class="fas fa-chevron-up fa-fw"></span>
                <span *ngIf="!accordionRefIdentify.isExpanded('profile-card-identify')"
                  class="fas fa-chevron-down fa-fw"></span>
              </a>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ds-profile-page-metadata-form [user]="user"></ds-profile-page-metadata-form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div *ngIf="canChangePassword$ | async" class="mb-4">
      <ngb-accordion #accordionRefSecurity [activeIds]="activeIds">
        <ngb-panel id="profile-card-security" *ngIf="canChangePassword$ | async" data-test="profile-security">
          <ng-template ngbPanelTitle>
            <span class="float-left">{{'profile.card.security' | translate}}</span>
            <div class="d-inline-block float-right">
              <a class="close" role="button"
                [attr.aria-label]="(accordionRefSecurity.isExpanded('profile-card-security') ? 'cris-layout.toggle.aria.close' : 'cris-layout.toggle.aria.open') | translate: {sectionHeader: 'profile.card.security' | translate}"
                [title]="(accordionRefSecurity.isExpanded('profile-card-security') ? 'cris-layout.toggle.close' : 'cris-layout.toggle.open') | translate">
                <span *ngIf="accordionRefSecurity.isExpanded('profile-card-security')"
                  class="fas fa-chevron-up fa-fw"></span>
                <span *ngIf="!accordionRefSecurity.isExpanded('profile-card-security')"
                  class="fas fa-chevron-down fa-fw"></span>
              </a>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ds-profile-page-security-form [FORM_PREFIX]="'profile.security.form.'" (isInvalid)="setInvalid($event)"
              (passwordValue)="setPasswordValue($event)"></ds-profile-page-security-form>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>
    </div>

    <div class="col-12 text-right pr-0">
      <button class="btn btn-primary" (click)="updateProfile()"><i class="fas fa-edit"></i> {{'profile.form.submit' |
        translate}}</button>
    </div>

    <div class="card mb-4">
      <div class="card-header">{{'profile.card.access-token' | translate}}</div>
      <div class="card-body">
        <div class="mb-4">
          <ds-profile-page-access-token *ngIf="user" [user]="user"></ds-profile-page-access-token>
        </div>
      </div>
    </div>

    <ng-container *ngIf="showGroups">
      <ng-container *ngVar="(groupsRD$ | async)?.payload?.page as groups">
        <div *ngIf="groups?.length > 0">
          <h3 class="mt-4">{{'profile.groups.head' | translate}}</h3>
          <ul class="list-group list-group-flush">
            <li *ngFor="let group of groups" class="list-group-item">{{group.name}}</li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngVar="(specialGroupsRD$ | async)?.payload?.page as specialGroups">
        <div *ngIf="specialGroups?.length > 0" data-test="specialGroups">
          <h3 class="mt-4">{{'profile.special.groups.head' | translate}}</h3>
          <ul class="list-group list-group-flush">
            <li *ngFor="let specialGroup of specialGroups" class="list-group-item">{{specialGroup.name}}</li>
          </ul>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
