<div class="container">
    <ds-item-versions *ngIf="item$ | async"
                      [item]="item$ | async"
                      [isCoordinator]="isCoordinatorOfProject$ | async"
                      [isFunderManagerOrReader]="isFounderManagerOrReaderOfProject$ | async"
                      [isProjectFunder]="isFounderOfProject$ | async"
                      [isProjectReader]="isProjectReader$ | async"
                      [displayActions]="true"
                      [displayAlert]="true"
                      [displayWhenEmpty]="false"
                      [canShowCreateVersion]="false">
    </ds-item-versions>
</div>
