<div class="container">
  <div *ngIf="searchFilterData">
    <form [formGroup]="searchForm">
      <ng-container formArrayName="queryArray">
        <ng-container *ngFor="
            let queryStatement of queryArray.controls;
            let i = index;
            let isLast = last
          ">
          <!-- if FormGroup -->
          <ng-container *ngIf="
              queryStatement | dsControlTypeChecker;
              else formControlTemplate
            ">
            <ds-query-condition-group [formGroupName]="i" [searchConfig]="searchFilterData">
            </ds-query-condition-group>
            <div class="row">
              <div class="col text-right">
                <button type="button" class="btn btn-inline btn-danger" (click)="deleteGroup(i)"
                  *ngIf="queryArray.length > 1">
                  <i class="fa fa-trash"></i> &nbsp; Delete Group above
                </button>
                <button type="button" class="mr-2 btn btn-inline btn-dark" *ngIf="isLast" (click)="addGroup()">
                  <i class="fa fa-plus"></i> &nbsp; Add Filter group
                </button>
              </div>
            </div>
          </ng-container>

          <!-- if FormControl -->
          <ng-template #formControlTemplate>
            <div class="row mb-2 pl-3 operator-row" *ngIf="!isLast" >
              <div class="col-md-2">
                <select class="form-control"[formControlName]="i">
                  <option [value]="operator" *ngFor="let operator of logicalOperators" [selected]="operator">
                    {{ operator | uppercase }}
                  </option>
                </select>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </form>

    <hr />
    <div class="row justify-content-center">
      <div class="col-md-2">
        <button type="button" class="btn btn-block btn-dark" (click)="resetForm()">
          Reset
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-block btn-primary" (click)="filter()">
          Filter
        </button>

        <button type="button" class="btn btn-block btn-primary" (click)="asdf()">
          Form
        </button>
      </div>
    </div>
  </div>
</div>
