<div *ngIf="chartData" class="container-fluid p-0" fxLayout="column">
  <mat-toolbar color="primary" class="bg-white">
    <mat-toolbar-row>
      <span>
        <button class="btn btn-primary" (click)="createTask()">
          <i class="fas fa-plus"></i> Working Plan
        </button>
      </span>
      <span fxFlex></span>
      <div class="btn-group">
        <div
          class="btn btn-light"
          (click)="onChartDateViewCahnge(ChartDateViewType.day)"
          [class.active]="chartDateView === ChartDateViewType.day">
          Day
        </div>
        <div
          class="btn btn-light"
          (click)="onChartDateViewCahnge(ChartDateViewType.month)"
          [class.active]="chartDateView === ChartDateViewType.month">
          Month
        </div>
        <div
          class="btn btn-light"
          (click)="onChartDateViewCahnge(ChartDateViewType.year)"
          [class.active]="chartDateView === ChartDateViewType.year">
          Year
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="sidenav-container" fxFlex fxLayout="row">
    <!-- names -->
    <div class="sidenav names" [ngStyle]="sidebarStyle" fxLayout="column">
      <div class="sidenav-header text-center">Steps</div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl" [ngStyle]="sidebarStyle"
        mwlResizable [resizeEdges]="{right: true}" [enableGhostResize]="true" [resizeSnapGrid]="{right: 1}" (resizeEnd)="onResizeEnd($event)">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-form-field fxFlex floatLabel="never">
            <input matInput placeholder="Step Name" name="node" [(ngModel)]="node.name" (ngModelChange)="updateStepName(node, $event)"
              required>
          </mat-form-field>
          <button mat-icon-button (click)="addChildStep(node)" class="text-success" *ngIf="node.level===0">
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="dataSource.data.length > 1" mat-icon-button (click)="deleteStep(node)" class="text-danger">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror" (click)="toggleExpanded(node)">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-form-field fxFlex floatLabel="never">
            <input matInput placeholder="Step Name" name="node" [(ngModel)]="node.name" (ngModelChange)="updateStepName(node, $event)"
              required>
          </mat-form-field>
          <button mat-icon-button (click)="addChildStep(node)" class="text-success" *ngIf="node.level<3">
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="dataSource.data.length > 1" mat-icon-button (click)="deleteStep(node)" class="text-danger">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- date pickers -->
    <div class="sidenav date-pickers" fxLayout="column">
      <div class="sidenav-header text-center">Dates</div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node">
          <mat-form-field class="date-picker" floatLabel="never">
            <input matInput [matDatepicker]="startDate" [min]="node.level > 0 ? getParentStep(node).dates.start.full : null"
              [max]="node.level > 0 ? getParentStep(node).dates.end.full : null" [(ngModel)]="node.dates.start.full"
              (ngModelChange)="updateDateRange(node)">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          &nbsp;&nbsp;-&nbsp;&nbsp;
          <mat-form-field class="date-picker" floatLabel="never">
            <input matInput [matDatepicker]="endDate" [min]="node.level > 0 ? getParentStep(node).dates.start.full : null"
              [max]="node.level > 0 ? getParentStep(node).dates.end.full : null" [(ngModel)]="node.dates.end.full"
              (ngModelChange)="updateDateRange(node)">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- responsibles -->
    <div class="sidenav names" [ngStyle]="sidebarStyle" fxLayout="column">
      <div class="sidenav-header text-center">Responsible</div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl" [ngStyle]="sidebarStyle"
                mwlResizable [resizeEdges]="{right: true}" [enableGhostResize]="true" [resizeSnapGrid]="{right: 1}" (resizeEnd)="onResizeEnd($event)">
        <mat-tree-node *matTreeNodeDef="let node">
          <mat-form-field fxFlex floatLabel="never" class="pr-3 pl-3">
            <input matInput placeholder="Responsible" name="responsible" [(ngModel)]="node.responsible" (ngModelChange)="updateStepResponsible(node, $event)"
                   required>
          </mat-form-field>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- progress -->
    <div *ngIf="!disableProgress" class="sidenav progress-bars" fxLayout="column">
      <div class="sidenav-header text-center">Progress</div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="progress-row">
          <mat-slider class="progress" [max]="100" [min]="0" [step]="5" [thumbLabel]="true" [tickInterval]="2"
            [(ngModel)]="node.progress" (ngModelChange)="updateProgress(node, $event)"></mat-slider>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar for days -->
    <div *ngIf="chartDateView === ChartDateViewType.day" class="sidenav-content calendar w-100" fxLayout="column">
      <div fxLayout="row">
        <div *ngFor="let date of dates" class="calendar-cell w-100" [ngClass]="{today:isToday(date)}">{{formatDate(date)}}</div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row w-100">
          <div *ngFor="let date of dates; let i=index;"
               class="calendar-cell w-100"
               [ngClass]="{today:isToday(date)}"
               [attr.date-filled]="isDateInsidePogressRange(date, node)"
               [attr.date-inside]="isDateInsideRange(date, node)">
            <mat-form-field *ngIf="isDateInsideRange(date, node)">
              <mat-select class="text-center" multiple (selectionChange)="onTaskTypeSelection($event, date, node)" [value]="getTaskValues(date, node)">
                <mat-select-trigger>
                  {{getTaskIndex(date, node) > -1 ? getTaskValues(date, node) : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let taskType of chartStepTaskTypeList" [value]="taskType.value">{{taskType.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar for months -->
    <div *ngIf="chartDateView === ChartDateViewType.month" class="sidenav-content calendar w-100" fxLayout="column">
      <div fxLayout="row">
        <div *ngFor="let date of datesMonth" class="calendar-cell w-100">{{formatDate(date)}}</div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row w-100">
          <div *ngFor="let date of datesMonth; let i=index;" class="calendar-cell w-100 d-flex flex-wrap" >
            <div *ngFor="let day of getDaysInMonth(date);"
                 class="calendar-inner-cell h-100 flex-fill"
                 [attr.date-filled]="isDateInsidePogressRange(date + '-' + day, node)"
                 [attr.date-inside]="isDateInsideRange(date + '-' + day, node)"></div>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar for years -->
    <div *ngIf="chartDateView === ChartDateViewType.year" class="sidenav-content calendar w-100" fxLayout="column">
      <div fxLayout="row">
        <div *ngFor="let date of datesYear" class="calendar-cell w-100">{{formatDate(date)}}</div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row w-100">
          <div *ngFor="let year of datesYear; let i=index;" class="calendar-cell w-100 d-flex flex-wrap">
            <div *ngFor="let month of getMonthInYear();"
                 class="h-100 d-flex flex-fill flex-wrap"
                 [attr.date-filled]="false">
              <div *ngFor="let day of getDaysInMonth(year + '-' + month);"
                   class="calendar-inner-cell h-100 flex-fill"
                   [attr.date-filled]="isDateInsidePogressRange(year + '-' + month + '-' + day, node)"
                   [attr.date-inside]="isDateInsideRange(year + '-' + month + '-' + day, node)"></div>
            </div>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
