<ipw-sidebar-panel class="d-block mb-3" [sidebarPanelTitle]="data.title" [startOpen]="true">
  <ng-container ngProjectAs="panelIconStatus">
      <i class="fas fa-check-circle text-success mr-3"
         aria-hidden="true"></i>
  </ng-container>
  <ng-container ngProjectAs="panelContent">
    <div class="d-flex align-items-stretch border-bottom">
      <ds-alert class="bg-gradient-info" [dismissible]="true" [content]="'impact-path-way.wrapper.info'"></ds-alert>
    </div>
    <div class="d-flex align-items-stretch p-0 m-0 vertical-content">
      <ipw-impact-path-way-step *ngFor="let step of data.steps" [data]="step" class="vertical-step" ipwStepColor [stepType]="step.type"></ipw-impact-path-way-step>
    </div>
  </ng-container>
</ipw-sidebar-panel>
