/* -----------------------------------------------------------
revised rex (230224), not yet activated!
----------------------------------------------------------- *
/* Webfonts
----------------------------------------------- */
/* Nunito Italic */
@font-face {
	font-family: 'Nunito-MediumItalic';
	src: url("../../assets//fonts/nunito/Nunito-MediumItalic.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
	}

// complete bar
nav.nav-breadcrumb {   
  background-color: var(--ds-breadcrumb-bg);
  // WORKAROUND WITH BOX-SHADOW, BECAUSE BORDER-BOTTOM DOESN'T WORK
  // because ol.breadcrumb moves inside v.nav.breadcrumb as soon as a border is used.
  // Therefore border-top for breadcrumb bar IS in navbar.component.scss in nav.navbar,
  // and border-bottom here as shadow
  box-shadow: 0 1px 0 var(--ds-header-navbar-border-bottom-color);
}

ol.breadcrumb {
  border-radius: 0;
  margin-top: calc(-1 * var(--ds-content-spacing));
  padding-bottom: var(--ds-content-spacing / 3);
  padding-top: var(--ds-content-spacing / 3);
  background-color: transparent; // Breadcrumb-Links had a background-color, that is not needed
}

.breadcrumb-item-limiter {
  display: inline-block;
  max-width: var(--ds-breadcrumb-max-length); //truncating too long words
  > * {
    max-width: 100%;
    display: block;
  }
}

.breadcrumb-item+ .breadcrumb-item::before {
  color:var(--sy-breadcrumb-divider-color);
  padding-top:2px; // so that the "/" appears in the same line with the links
}

li.breadcrumb-item {

  display: flex;

  div.breadcrumb-item-limiter a {   // spezifischer div.breadcrumb-item-limiter notwendig, damit Links ansprechen

    color: var(--ds-breadcrumb-link-color);
    padding:2px 0 4px 0;

    /* Entity-tags appear on the left side of a breadcrumb link and contain the name of the entity type.
    For project and subproject they also contain an icon and they are designed in the color scheme 
    of these layers. Entity-tags are set invisible basically.
    Only the ones you explicitly choose below (the selection here is not final) will be displayed */
    
    // Generelle Gestaltung der Tags zu einer Auswahl von a-Links anhand der URL
    &[href*="Funding"],                          // Teilprojekt (Icon "cube")
    &[href*="projectpartner"],                   // Verwertungsplan
    &[href*="exploitationplans"],                // Arbeitsplan
    &[href*="exploitationplans"]                 // Arbeitsplan
    { 														
      border:1px solid var(--sy-breadcrumb-tag-border-color);
      padding:0 8px 0 8px;
      //margin:0 6px 0 0;
      background-color:var(--sy-breadcrumb-tag-background);
      border-radius:10px 0 0 10px;
      color:var(--sy-breadcrumb-tag-color) !important;  // without important it gets the link color defined above
      font-family:'Nunito-MediumItalic';
      display:inline-block;   
      } // end a[href Selection of links to be designed as tag

    // Design of individual tags

    // Tag Consortium
    &[href*="/entities/project/"] { 									
      color:var(--sy-level-project-icon-color);
      }

    // Tag Project
    &[href*="Funding"] { 											
      border-color:var(--sy-level-funding-border-color) !important;
      i.fas {color:var(--sy-level-funding-icon-color) !important;}
      //i:before {border:20px solid red !important;}
      color:var(--sy-level-funding-icon-color) !important;
      }

    } // end a links

   /* the last item in the breadcrumb must be a link too in order to be able to read the URL via CSS to recognize the entity, but is styled like as a non-link. */
  &.active a {
    color: var(--ds-breadcrumb-link-active-color) !important;
    text-decoration:none;
    cursor:default;
  }

} // end li.breadcrumb-item