<div *ngIf="(workpackages | async)?.length > 0" fxLayout="column">
  <div class="sidenav-container" fxFlex fxLayout="row">
    <!-- steps -->
    <div class="sidenav chart-column names" [ngStyle]="sidebarNamesStyle" fxLayout="column">
      <div class="sidenav-header d-flex justify-content-between">
        <div>
          <div ngbDropdown #sortByDrop="ngbDropdown" class="d-inline-block" (openChange)="resetSortDropdown($event)">
            <button class="btn btn-outline-info btn-xs mr-2" id="sortBy" ngbDropdownToggle>{{'working-plan.chart.column.sortBy' | translate}} {{'working-plan.chart.column.sortBy.option.' + (sortSelected$ | async) | translate}}</button>
            <div ngbDropdownMenu class="block-change-start-date font-size-07 p-2" aria-labelledby="sortBy">
              <button type="button" class="close" data-dismiss="alert" attr.aria-label="{{'working-plan.chart.column.changeStartDateClose' | translate}}" (click)="sortByDrop.close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="font-weight-bold mb-1">{{'working-plan.chart.column.sortBy' | translate}}</div>
              <form>
                <div>
                  <div>
                    <mat-radio-group [(ngModel)]="sortSelectedValue" [ngModelOptions]="{standalone: true}" class="block-change-start-date-radio" aria-labelledby="changeAllStartDateDaysRadio">
                      <mat-radio-button *ngFor="let sortOpts of (sortOptions$ | async)?.sortOptions" [value]="sortOpts.name">
                        {{'working-plan.chart.column.sortBy.option.' + sortOpts.name | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="ml-auto float-right">
                    <button type="submit" class="btn btn-primary btn-sm" (click)="updateSort();sortByDrop.close();" [disabled]="(isProcessingWorkpackage() | async) || sortSelectedOld === ''">
                      <span *ngIf="!(isProcessingWorkpackage() | async)">
                        {{'working-plan.chart.column.changeStartDate.apply' | translate}}
                      </span>
                      <span *ngIf="(isProcessingWorkpackage() | async)">
                        <i class='fas fa-circle-notch fa-spin'></i> {{'working-plan.chart.column.changeStartDate.saving' | translate}}
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="pr-1">
          <button type="button" class="btn btn-primary btn-xs"
                  title="{{'working-plan.chart.button.expandAll' | translate}}"
                  (click)="treeControl.expandAll()">
            <i class="fas fa-angle-double-down"></i>
          </button>
          <button type="button" class="btn btn-primary btn-xs"
                  title="{{'working-plan.chart.button.collapseAll' | translate}}"
                  (click)="treeControl.collapseAll()">
            <i class="fas fa-angle-double-up"></i>
          </button>
          <button type="button" class="btn btn-primary btn-xs mr-2{{(this.sidebarResponsibleStatus)?' d-none':''}}" (click)="sidebarStatusToggle()" title="{{'working-plan.chart.column.expand' | translate}}"><i class="fas fa-angle-double-right"></i></button>
        </div>
      </div>
      <mat-tree cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListSorted)="dragEntered($event)"
        class="tree pt-0"
        fxFlex
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        [ngStyle]="sidebarNamesStyle"
      >
        <mat-tree-node *matTreeNodeDef="let node"
          cdkDrag [cdkDragData]="node"
          [cdkDragDisabled]="!dragAndDropIsActive || (isMoving() | async)"
          class="tree-node-customization"
          [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
          [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
          matTreeNodeToggle
          matTreeNodePadding
          [matTreeNodePaddingIndent]="24"
          (mouseover)="chartChangeColor(node.id, true)"
          (mouseout)="chartChangeColor(node.id, false)"
          (cdkDragStarted)="dragStarted($event)"
        >
          <div class="task-placeholder d-flex"
            [ngClass]="{
              'placeholder-allowed': (isDragging | async) && (isDropAllowed | async),
              'placeholder-denied': (isDragging | async) && !(isDropAllowed | async)
            }"
            *cdkDragPlaceholder>
            <i *ngIf="(isDragging | async) && (isDropAllowed | async)" class="mt-2 ml-2 fas fa-check fa-4x"></i>
            <i *ngIf="(isDragging | async) && !(isDropAllowed | async)" class="mt-3 ml-4 fas fa-exclamation fa-4x"></i>
          </div>
          <div [class.root-node-style]="node.level === 0">
            <button mat-icon-button matTreeNodeToggle [disabled]="!dragAndDropIsActive || (isMoving() | async)" cdkDragHandle class="btn btn-xs btn-link p-0 text-primary button-move" title="Drag & Drop">
              <i class="fas fa-grip-vertical{{(!dragAndDropIsActive || (isMoving() | async))?' opacity-50':''}}"></i>
            </button>
          </div>
          <div class="mat-form-field auto-width mt-1{{node.level === 0?' pl-2':''}}">
            <p class="block-ellipsis">{{node.name}}</p>
            <br>
            <span class="{{(node.type === 'milestone')?'text-info':'text-success'}} font-weight-bold pt-2">{{(node.type + '.listelement.badge') | translate}}</span>
          </div>
          <div class="mr-05">
            <button mat-icon-button *ngIf="canAddChildStep(node)"
                    class="btn btn-xs btn-link p-0 text-success"
                    title="{{'working-plan.chart.button.add' | translate}}"
                    (click)="addChildStep(node)">
              <mat-icon>add</mat-icon>
            </button>
            <br *ngIf="canAddChildStep(node)">
            <button *ngIf="(isEditAvailable(node.id) | async)" mat-icon-button
                    class="btn btn-xs btn-link p-0 text-primary"
                    [class.ml-1]="node.level !== 0"
                    title="{{'working-plan.chart.button.edit' | translate}}"
                    [routerLink]="['/edit-items', node.id + ':' + (getEditModes() | async).get(node.id)[0].name]">
              <i class="fas fa-edit"></i>
            </button>
            <br *ngIf="(isEditAvailable(node.id) | async)">
            <button mat-icon-button class="btn btn-xs btn-link p-0 text-danger"
                    title="{{'working-plan.chart.button.remove' | translate}}"
                    [class.ml-1]="node.level !== 0"
                    [disabled]="(isProcessingWorkpackageRemove(node) | async)"
                    (click)="deleteStep(node); $event.stopPropagation()">
              <span *ngIf="!(isProcessingWorkpackageRemove(node) | async)"><i class='fas fa-unlink'></i></span>
              <span *ngIf="(isProcessingWorkpackageRemove(node) | async)"><i class='fas fa-circle-notch fa-spin'></i></span>
            </button>
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
          cdkDrag [cdkDragData]="node"
          [cdkDragDisabled]="!dragAndDropIsActive || (isMoving() | async)"
          class="tree-node-customization"
          [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
          [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
          matTreeNodePadding
          [matTreeNodePaddingIndent]="24"
          (mouseover)="chartChangeColor(node.id, true)"
          (mouseout)="chartChangeColor(node.id, false)"
          (cdkDragStarted)="dragStarted($event)"
        >
          <div class="task-placeholder d-flex"
            [ngClass]="{
              'placeholder-allowed': (isDragging | async) && (isDropAllowed | async),
              'placeholder-denied': (isDragging | async) && !(isDropAllowed | async)
            }"
            *cdkDragPlaceholder>
            <i *ngIf="(isDragging | async) && (isDropAllowed | async)" class="mt-2 ml-2 fas fa-check fa-4x"></i>
            <i *ngIf="(isDragging | async) && !(isDropAllowed | async)" class="mt-3 ml-4 fas fa-exclamation fa-4x"></i>
          </div>
          <div [class.root-node-style]="node.level === 0">
            <button mat-icon-button [disabled]="!dragAndDropIsActive || (isMoving() | async)" cdkDragHandle class="btn btn-xs btn-link p-0 text-primary button-move" title="Drag & Drop">
              <i class="fas fa-grip-vertical{{(!dragAndDropIsActive || (isMoving() | async))?' opacity-50':''}}"></i>
            </button>
            <br>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="btn btn-xs btn-link p-0 text-primary"
                    title="{{treeControl.isExpanded(node) ?
                            ('working-plan.chart.toggle.collapse.btn' | translate) :
                            ('working-plan.chart.toggle.expand.btn' | translate)}}">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
          </div>
          <div class="mat-form-field auto-width mt-1{{node.level === 0?' pl-2':''}}">
            <p class="block-ellipsis font-weight-bold">{{node.name}}</p>
            <br>
            <span class="{{(node.type === 'milestone')?'text-info':'text-success'}} font-weight-bold pt-2">{{(node.type + '.listelement.badge') | translate}}</span>
          </div>
          <div class="mr-05">
            <button mat-icon-button *ngIf="node.level < 3"
                    class="btn btn-xs btn-link p-0 text-success"
                    title="{{'working-plan.chart.button.add' | translate}}"
                    (click)="addChildStep(node)">
              <mat-icon>add</mat-icon>
            </button>
            <br *ngIf="node.level < 3">
            <button *ngIf="(isEditAvailable(node.id) | async)" mat-icon-button
                    class="btn btn-xs btn-link p-0 text-primary"
                    title="{{'working-plan.chart.button.edit' | translate}}"
                    [routerLink]="['/edit-items', node.id + ':' + (getEditModes() | async).get(node.id)[0].name]">
              <i class="fas fa-edit"></i>
            </button>
            <br *ngIf="(isEditAvailable(node.id) | async)">
            <button mat-icon-button class="btn btn-xs btn-link p-0 text-danger"
                    title="{{'working-plan.chart.button.remove' | translate}}"
                    [disabled]="(isProcessingWorkpackageRemove(node) | async)"
                    (click)="deleteStep(node); $event.stopPropagation()">
              <span *ngIf="!(isProcessingWorkpackageRemove(node) | async)"><i class='fas fa-unlink'></i></span>
              <span *ngIf="(isProcessingWorkpackageRemove(node) | async)"><i class='fas fa-circle-notch fa-spin'></i></span>
            </button>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- dates, organisations and statuses -->
    <div class="sidenav chart-column responsible{{(this.sidebarResponsibleStatus)?'':' d-none'}}" [ngStyle]="sidebarResponsibleStyle" fxLayout="column">
      <div class="sidenav-header">
        <div class="float-left">
          <div ngbDropdown #changeAllStartDatesDrop="ngbDropdown" class="d-inline-block">
            <button class="btn btn-outline-secondary btn-xs mr-2 ml-2" id="changeAllStartDate" ngbDropdownToggle>{{'working-plan.chart.column.changeStartDate' | translate}}</button>
            <div ngbDropdownMenu class="block-change-start-date font-size-07 p-2" aria-labelledby="changeAllStartDate">
              <button type="button" class="close" data-dismiss="alert" attr.aria-label="{{'working-plan.chart.column.changeStartDateClose' | translate}}" (click)="changeAllStartDatesDrop.close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="font-weight-bold mb-1">{{'working-plan.chart.column.changeStartDate' | translate}}</div>
              <div class="mb-3">{{'working-plan.chart.column.changeStartDate.description' | translate}}</div>
              <div id="changeAllStartDateDaysInput" class="font-weight-bold mb-1">{{'working-plan.chart.column.changeStartDate.input.description' | translate}}</div>
              <form>
                <div>
                  <mat-form-field floatLabel="never" appearance="fill" class="p-0 mb-3" aria-labelledby="changeAllStartDateDaysInput">
                    <input matInput (change)="updateChangeStartDateDays($event?.target?.value)" type="number" min="1" value="1" class="px-2">
                  </mat-form-field>
                </div>
                <div class="d-flex align-items-end">
                  <div>
                    <div id="changeAllStartDateDaysRadio" class="font-weight-bold">{{'working-plan.chart.column.changeStartDate.radio.description' | translate}}</div>
                    <mat-radio-group (change)="updateChangeStartDateDirection($event.source.value)" class="block-change-start-date-radio" aria-labelledby="changeAllStartDateDaysRadio">
                      <mat-radio-button [value]="'later'" checked>
                        {{'working-plan.chart.column.changeStartDate.radio.later' | translate}}
                      </mat-radio-button>
                      <mat-radio-button [value]="'earlier'">
                        {{'working-plan.chart.column.changeStartDate.radio.earlier' | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="ml-auto">
                    <button type="submit" class="btn btn-primary btn-sm" (click)="updateAllDateRange()" [disabled]="(isProcessingWorkpackage() | async)">
                      <span *ngIf="!(isProcessingWorkpackage() | async)">
                        {{'working-plan.chart.column.changeStartDate.apply' | translate}}
                      </span>
                      <span *ngIf="(isProcessingWorkpackage() | async)">
                        <i class='fas fa-circle-notch fa-spin'></i> {{'working-plan.chart.column.changeStartDate.saving' | translate}}
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-primary btn-xs mr-2{{(this.sidebarResponsibleStatus)?'':' d-none'}}" (click)="sidebarStatusToggle()" title="{{'working-plan.chart.column.collapse' | translate}}"><i class="fas fa-angle-double-left"></i></button>
        </div>
      </div>
      <mat-tree class="tree pt-0" fxFlex [dataSource]="dataSource" [treeControl]="treeControl" [ngStyle]="sidebarResponsibleStyle">
        <mat-tree-node *matTreeNodeDef="let node" class="tree-node-customization"
                       [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
                       [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
                       (mouseover)="chartChangeColor(node.id, true)"
                       (mouseout)="chartChangeColor(node.id, false)">
          <div class="ml-05 mt-1 font-size-07">
            <p class="font-weight-bold m-0">{{'working-plan.chart.column.dates' | translate}}</p>
            <mat-form-field *ngIf="node.type != 'milestone'" floatLabel="never" appearance="fill" class="p-0">
              <mat-label>{{'working-plan.chart.column.dates.start' | translate}}</mat-label>
              <input matInput type="text" ngbDatepicker #startDate="ngbDatepicker" (click)="startDate.toggle()" container="body"
                     [minDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.start?.full) : null"
                     [maxDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.end?.full) : getDateStruct(node.dates?.end?.full)"
                     [value]="(node.dates?.start?.full) ? (node.dates?.start?.full) : ''"
                     (dateSelect)="updateDateRange(node, $event, node.dates?.end?.full)"/>
              <mat-icon matSuffix (click)="startDate.toggle()" class="cursor-pointer">edit_calendar</mat-icon>
            </mat-form-field>
            <br *ngIf="node.type != 'milestone'">
            <mat-form-field floatLabel="never" appearance="fill" class="p-0">
              <mat-label>{{'working-plan.chart.column.dates.end' | translate}}</mat-label>
              <input matInput type="text" ngbDatepicker #endDate="ngbDatepicker" (click)="endDate.toggle()" container="body"
                     [minDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.start?.full) : getDateStruct(node.dates?.start?.full)"
                     [maxDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.end?.full) : null"
                     [value]="(node.dates?.end?.full) ? (node.dates?.end?.full) : ''"
                     (dateSelect)="updateDateRange(node, (node.type != 'milestone')?node.dates?.start?.full:$event, $event)"/>
              <mat-icon matSuffix (click)="endDate.toggle()" class="cursor-pointer">edit_calendar</mat-icon>
            </mat-form-field>
          </div>
          <div class="ml-05 mt-1 font-size-07">
            <p class="font-weight-bold m-0">{{'working-plan.chart.column.responsible' | translate}}</p>
            <ds-authority-typeahead floatLabel="never" class="min-width-large"
              [fieldId]="'responsible'"
              [fieldName]="'responsible'"
              [vocabularyOptions]="responsibleVocabularyOptions"
              [initValue]="node.responsible"
              (change)="updateStepResponsible(node, $event.value)"></ds-authority-typeahead>
          </div>
          <div class="ml-05 mt-1 font-size-07">
            <p class="font-weight-bold m-0">{{'working-plan.chart.column.status' | translate}}</p>
            <mat-form-field appearance="fill" floatLabel="never" class="mr-05 min-width-small">
              <mat-select class="text-center" (selectionChange)="updateStepStatus(node, $event)" [(value)]="node.status">
                <mat-select-trigger>
                  <span><i ipwWorkpackageStatusIcon [status]="node?.status"></i> {{getStatusTypeLabel(node?.status)}}</span>
                </mat-select-trigger>
                <mat-option *ngFor="let statusType of (getStatusValues() | async)" [value]="statusType.value">{{statusType.display}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar for months -->
    <div *ngIf="chartDateView.value === ChartDateViewType.month" class="sidenav-content calendar w-100" fxLayout="column">
      <div fxLayout="row">
        <div fxLayout="column" class="flex-fill" *ngFor="let year of datesYear">
          <div class="calendar-cell-heading w-100 d-flex flex-wrap justify-content-center tree-node-end-of-the-year-customization">{{year}}</div>
          <div fxLayout="row" class="calendar-head-border">
            <div *ngFor="let date of getDatesMonthByYear(year)" class="calendar-cell-heading w-100{{(chartCheckEndOfTheYear(date, 'month'))?' tree-node-end-of-the-year-customization':''}}">{{formatDate(date)}}</div>
          </div>
        </div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row w-100"
                       [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
                       [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
                       (mouseover)="chartChangeColor(node.id, true)"
                       (mouseout)="chartChangeColor(node.id, false)">
          <div *ngFor="let date of datesMonth; let i=index;" class="calendar-cell w-100 d-flex flex-wrap calendar-node-customization{{(chartCheckEndOfTheYear(date, 'month'))?' tree-node-end-of-the-year-customization':''}}">
            <div *ngFor="let day of getDaysInMonth(date);" class="d-flex flex-fill calendar-node-customization"
              [class.tree-node-milestone-customization]="chartCheckMilestone(date + '-' + day)">
              <div class="calendar-inner-cell flex-fill calendar-cell-customization"
                  [class.tree-node-milestone-rhombus]="chartCheckNodeMilestone(node.id, date + '-' + day)"
                  [class.calendar-inner-cell-over]="!chartCheckNodeMilestone(node.id, date + '-' + day) && chartCheckChangeColor(node, date + '-' + day, date + '-' + day)"
                  [attr.date-filled]="isDateInsidePogressRange(date + '-' + day, node)"
                  [attr.date-inside]="isDateInsideRange(date + '-' + day, node)"></div>
            </div>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar for quarters -->
    <div *ngIf="chartDateView.value === ChartDateViewType.quarter" class="sidenav-content calendar w-100" fxLayout="column">
      <div fxLayout="row">
        <div fxLayout="column" class="flex-fill" *ngFor="let year of datesYear">
          <div class="calendar-cell-heading w-100 d-flex flex-wrap justify-content-center tree-node-end-of-the-year-customization">{{year}}</div>
          <div fxLayout="row" class="calendar-head-border">
            <div *ngFor="let date of getDatesQuarterByYear(year)" class="calendar-cell-heading w-100{{(chartCheckEndOfTheYear(date, 'quarter'))?' tree-node-end-of-the-year-customization':''}}">{{formatDate(date)}}</div>
          </div>
        </div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row w-100"
                       [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
                       [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
                       (mouseover)="chartChangeColor(node.id, true)"
                       (mouseout)="chartChangeColor(node.id, false)">
          <div *ngFor="let quarter of datesQuarter; let i=index;" class="calendar-cell w-100 d-flex flex-wrap calendar-node-customization{{(chartCheckEndOfTheYear(quarter, 'quarter'))?' tree-node-end-of-the-year-customization':''}}">
            <ng-container *ngFor="let month of getMonthInQuarter(quarter);">
              <div *ngFor="let day of getDaysInMonth(getQaurterYear(quarter) + '-' + month);" class="d-flex flex-fill calendar-node-customization"
                [class.tree-node-milestone-customization]="chartCheckMilestone(getQaurterYear(quarter) + '-' + month + '-' + day)">
                <div class="calendar-inner-cell h-100 flex-fill calendar-cell-customization"
                    [class.tree-node-milestone-rhombus]="chartCheckNodeMilestone(node.id, getQaurterYear(quarter) + '-' + month + '-' + day)"
                    [class.calendar-inner-cell-over]="!chartCheckNodeMilestone(node.id, getQaurterYear(quarter) + '-' + month + '-' + day) && chartCheckChangeColor(node, getQaurterYear(quarter) + '-' + month + '-' + day, getQaurterYear(quarter) + '-' + month + '-' + day)"
                    [attr.date-filled]="isDateInsidePogressRange(getQaurterYear(quarter) + '-' + month + '-' + day, node)"
                    [attr.date-inside]="isDateInsideRange(getQaurterYear(quarter) + '-' + month + '-' + day, node)"></div>
              </div>
            </ng-container>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar for years -->
    <div *ngIf="chartDateView.value === ChartDateViewType.year" class="sidenav-content calendar w-100" fxLayout="column">
      <div fxLayout="row" class="calendar-head-year-sub-border">
        <div *ngFor="let date of datesYear" class="calendar-cell w-100 calendar-head-year-border tree-node-end-of-the-year-customization">{{formatDate(date)}}</div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row w-100"
                       [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
                       [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
                       (mouseover)="chartChangeColor(node.id, true)"
                       (mouseout)="chartChangeColor(node.id, false)">
          <div *ngFor="let year of datesYear; let i=index;" class="calendar-cell w-100 d-flex flex-wrap calendar-node-customization{{(chartCheckEndOfTheYear(year, 'year'))?' tree-node-end-of-the-year-customization':''}}">
            <ng-container *ngFor="let month of getMonthInYear();">
              <div *ngFor="let day of getDaysInMonth(year + '-' + month);" class="d-flex flex-fill calendar-node-customization"
              [class.tree-node-milestone-customization]="chartCheckMilestone(year + '-' + month + '-' + day)">
                <div class="calendar-inner-cell h-100 flex-fill calendar-cell-customization"
                    [class.tree-node-milestone-rhombus]="chartCheckNodeMilestone(node.id, year + '-' + month + '-' + day)"
                    [class.calendar-inner-cell-over]="!chartCheckNodeMilestone(node.id, year + '-' + month + '-' + day) && chartCheckChangeColor(node, year + '-' + month + '-' + day, year + '-' + month + '-' + day)"
                    [attr.date-filled]="isDateInsidePogressRange(year + '-' + month + '-' + day, node)"
                    [attr.date-inside]="isDateInsideRange(year + '-' + month + '-' + day, node)"></div>
              </div>
            </ng-container>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
<div *ngIf="(workpackages | async)?.length == 0">
  <hr>
  <h3 class="text-center text-muted" ><span>{{'working-plan.chart.toolbar.no-workpackages' | translate}}</span></h3>
</div>

