<!-- rex: Complete essential html code of the work plan except for the calendar table -->

<ds-loading *ngIf="isProcessingWorkpackage() | async"></ds-loading>
<div *ngIf="!(isProcessingWorkpackage() | async) && (workpackages | async)?.length > 0" fxLayout="column">
  <div class="sidenav-container" fxFlex fxLayout="row">

    <!-- steps -->

    <!-- .....................................................................
    First Column with Header (with Functions / Buttons) and
    Content (Header-Cells with Titles, Entity-Names, Status-Icons and Buttons)
    ...................................................................... -->
    <div class="sidenav chart-column names" [ngStyle]="sidebarNamesStyle" fxLayout="column">

      <div class="sidenav-header d-flex justify-content-between">
        <div>
          <div ngbDropdown #sortByDrop="ngbDropdown" class="d-inline-block" (openChange)="resetSortDropdown($event)">

            <!-- Dropdown for sorting in the header of the first column -->
            <button [disabled]="(compareMode | async) || isVersionOf || !(canAdd$ | async)"
                    class="btn btn-outline-info btn-xs mr-2" id="sortBy"
                    ngbDropdownToggle>{{'working-plan.chart.column.sortBy' | translate}} {{'working-plan.chart.column.sortBy.option.' + (sortSelected$ | async) | translate}}</button>
            <div ngbDropdownMenu class="block-change-start-date font-size-07 p-2" aria-labelledby="sortBy">
              <button type="button" class="close" data-dismiss="alert" attr.aria-label="{{'working-plan.chart.column.changeStartDateClose' | translate}}" (click)="sortByDrop.close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="font-weight-bold mb-1">{{'working-plan.chart.column.sortBy' | translate}}</div>
              <form>
                <div>
                  <div>
                    <mat-radio-group [(ngModel)]="sortSelectedValue" [ngModelOptions]="{standalone: true}" class="block-change-start-date-radio" aria-labelledby="changeAllStartDateDaysRadio">
                      <mat-radio-button *ngFor="let sortOpts of (sortOptions$ | async)?.sortOptions" [value]="sortOpts.name">
                        {{'working-plan.chart.column.sortBy.option.' + sortOpts.name | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="ml-auto float-right">
                    <button type="submit" class="btn btn-primary btn-sm"
                            [disabled]="(compareMode | async) || (isProcessingWorkpackage() | async) || sortSelectedOld === ''"
                            (click)="updateSort();sortByDrop.close();">
                      <span *ngIf="!(isProcessingWorkpackage() | async)">
                        {{'working-plan.chart.column.changeStartDate.apply' | translate}}
                      </span>
                      <span *ngIf="(isProcessingWorkpackage() | async)">
                        <i class='fas fa-circle-notch fa-spin'></i> {{'working-plan.chart.column.changeStartDate.saving' | translate}}
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="pr-1 space-children-mr">

          <!-- toggle-button to expand all rows of second level -->
          <button *ngIf="!isTreeExpanded" type="button" class="btn btn-link btn-xs"
                  title="{{'working-plan.chart.button.expandAll' | translate}}"
                  (click)="expandAll()">
            <i class="fas fa-angle-double-down"></i>
          </button>

          <!-- toggle-button to collapse all rows of second level -->
          <button  *ngIf="isTreeExpanded" type="button" class="btn btn-link btn-xs"
                  title="{{'working-plan.chart.button.collapseAll' | translate}}"
                  (click)="collapseAll()">
            <i class="fas fa-angle-double-up"></i>
          </button>

          <!-- toggle-button "-angle-double-right" to expand the time-column vertically,  toggles with button angle-double-left further down in this code -->
          <!-- .......................................................................................................................................... -->
          <button type="button" class="btn btn-link btn-xs mr-2{{(this.sidebarResponsibleStatus)?' d-none':''}}"
                  (click)="sidebarStatusToggle()"
                  title="{{'working-plan.chart.column.expand' | translate}}">
            <i class="fas fa-angle-double-right"></i>
          </button>

        </div>

      </div>

      <!-- .....................................................................
      First Column Table Content
      ...................................................................... -->

      <!-- Content first column with all table rows -->
      <mat-tree cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListSorted)="dragEntered($event)"
        class="tree pt-0"
        fxFlex
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        [ngStyle]="sidebarNamesStyle">

        <!-- Single Row - matTreeNodePaddingIndent is for the second level -->
        <mat-tree-node *matTreeNodeDef="let node"
                       [class.compare-node-status-new]="(compareMode | async) && node.compareStatus == ComparedVersionItemStatus.New"
                       [class.compare-node-status-deleted]="(compareMode | async) && node.compareStatus == ComparedVersionItemStatus.Removed"
                       cdkDrag [cdkDragData]="node"
                       [cdkDragDisabled]="!dragAndDropIsActive || isVersionOf || (isMoving() | async) || !(canAdd$ | async)"
                       class="tree-node-customization"
                       [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
                       [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
                       matTreeNodeToggle
                       matTreeNodePadding
          [matTreeNodePaddingIndent]="27"
                       (mouseover)="chartChangeColor(node.id, true)"
                       (mouseout)="chartChangeColor(node.id, false)"
                       (cdkDragStarted)="dragStarted($event)">

          <div class="task-placeholder d-flex"
            [ngClass]="{
              'placeholder-allowed': (isDragging | async) && (isDropAllowed | async),
              'placeholder-denied': (isDragging | async) && !(isDropAllowed | async)
            }" *cdkDragPlaceholder>
            <i *ngIf="(isDragging | async) && (isDropAllowed | async)" class="mt-2 ml-2 fas fa-check fa-4x"></i>
            <i *ngIf="(isDragging | async) && !(isDropAllowed | async)" class="mt-3 ml-4 fas fa-exclamation fa-4x"></i>
          </div>

          <!-- ...................................................
          .row-sidebar:
          left grey sidebarwith drag'n drop and accordeon button
          .................................................... -->

          <div [class.root-node-style]="node.level === 0" class="d-flex flex-column justify-content-between row-sidebar">

            <!-- button "grip-vertical" -->
            <button mat-icon-button matTreeNodeToggle
                    [disabled]="(compareMode | async) || isVersionOf || !dragAndDropIsActive || (isMoving() | async) || !(canAdd$ | async)"
                    cdkDragHandle
                    class="btn btn-xs btn-link p-0 text-primary button-move" title="Drag & Drop">
              <i class="fas fa-grip-vertical{{(!dragAndDropIsActive || (isMoving() | async))?' opacity-50':''}}"></i>
            </button>

            <!-- toggle-botton to expand and collapse the contained lines -->
            <button *ngIf="treeControl.isExpandable(node)" mat-icon-button matTreeNodeToggle
                    class="btn btn-xs btn-link p-0 text-primary"
                    title="{{ (treeControl.isExpanded(node) ? 'working-plan.chart.button.collapse' : 'working-plan.chart.button.expand') | translate}}">

              <i *ngIf="treeControl.isExpanded(node)" class="fas fa-chevron-up"></i>
              <i *ngIf="!treeControl.isExpanded(node)" class="fas fa-chevron-down"></i>
            </button>

          </div><!-- end .row-sidebar -->

          <!-- ..........................................
          .row-header-left:
          left part of row header with text and buttons
          ........................................... -->

          <div class="row-header-left mat-form-field auto-width mt-1{{node.level === 0?' pl-2':''}}">

            <!-- Entity-Name and Title of Data -->

             <!-- Entity-Name -->
             <span class="{{(node.type === 'milestone')?'text-info':'text-success'}} font-weight-bold entity-text">
              {{(node.type + '.listelement.badge') | translate}}
            </span>
            <br>

            <!-- Title of Data (special truncated 2-row-solution with ellipsis) -->
            <p class="block-ellipsis data-title-text">
              <span (click)="openItemModal(node); $event.stopImmediatePropagation();">
                {{node.name}}
              </span>
            </p>

            <!-- row with add-button and destructive buttons -->
            <div class="task-actions-button-row d-flex justify-content-between">

              <!-- Button "Add" for the first-level-row (new work or milestone) (not the top add button in table header!) -->
              <button *ngIf="canAddChildStep(node)" data-test="add-child-step"
                    class="btn btn-xs btn-link p-0 button-add"
                    title="{{'working-plan.chart.button.add' | translate}}"
                    [disabled]="(compareMode | async) || isVersionOf || !(canAdd$ | async)"
                    (click)="addChildStep(node); $event.stopImmediatePropagation();">
                <i class="fas fa-plus-circle"></i>&nbsp;{{'working-plan.chart.button.add' | translate}}
              </button>

              <div class="destructive-buttons">

                <!-- button "delete" -->
                <ds-working-plan-chart-item-delete-button
                  [compareMode]="compareMode"
                  [isVersionOfAnItem]="isVersionOf"
                  [node]="node"
                  class="button-delete"
                ></ds-working-plan-chart-item-delete-button>

                <!-- button "unlink" -->
                <button mat-icon-button class="btn btn-xs btn-link p-0 text-danger align-self-end button-unlink" data-test="remove-step"
                  title="{{'working-plan.chart.button.remove' | translate}}"
                  [class.ml-1]="node.level !== 0"
                  [disabled]="(compareMode | async) || (isProcessingWorkpackageRemove(node) | async) || isVersionOf || !(canAdd$ | async)"
                  (click)="deleteStep(node); $event.stopPropagation()">
                  <span *ngIf="!(isProcessingWorkpackageRemove(node) | async)">
                    <i class='fas fa-thumbtack'></i>
                  </span>
                <span *ngIf="(isProcessingWorkpackageRemove(node) | async)">
                    <i class='fas fa-circle-notch fa-spin'></i>
                  </span>
                </button>
                <!-- end of new position of button "unlink" -->

            </div><!-- end .destructive-buttons -->

            <!--
            <ds-working-plan-chart-item-edit-button
              class="button-edit"
              [compareMode]="compareMode"
              [isVersionOfAnItem]="isVersionOf"
              [node]="node"
              ></ds-working-plan-chart-item-edit-button>
              -->

          </div> <!-- end task-actions-button-row -->

        </div><!-- end .row-header-left-content -->

          <!-- ..........................................
          .row-header-right:
          right block with status icons
          ........................................... -->

          <div class="row-header-right d-flex flex-column">

            <div class="sy-status-icons">

              <div class="sy-status-icon">
                <!-- Status-Icon
                defined in src/app/working-plan/working-plan-chart/container/wp-item-metadata-status.directive.ts -->
                <span>
                  <i dsWPItemMetadataStatus [status]="node?.status"></i>
                </span>
              </div>

              <!-- Comment-Icon -->
              <div class="sy-comment-icon">
                <span>
                  <i dsWPItemMetadataInternal [status]="node?.internalStatus"></i>
                </span>
              </div>

            </div> <!-- end .sy-status-icons -->

            <div class="d-flex sy-compare p-0">
              <!-- button for compare-mode -->
              <button *ngIf="(compareMode | async) && node.compareStatus === ComparedVersionItemStatus.Changed"
                      mat-icon-button
                      class="btn btn-xs btn-link p-0 text-primary button-compare"
                      [class.ml-1]="node.level !== 0"
                      title="{{'working-plan.chart.button.compare' | translate}}"
                      (click)="openCompareModal(node); $event.stopImmediatePropagation();">
                <!-- <i class="fas fa-not-equal"></i> changed compare-icon (230724 rex)-->
                <i class="fas fa-code-compare"></i>
              </button>
            </div>

            <ds-working-plan-chart-item-edit-button
                  class="button-edit"
                  [compareMode]="compareMode"
                  [isVersionOfAnItem]="isVersionOf"
                  [node]="node"
            ></ds-working-plan-chart-item-edit-button>

          </div>

        </mat-tree-node><!-- end row first column -->
      </mat-tree><!-- end content first column -->

    </div><!-- end first column -->

    <!-- ....................................................................................................
    Second Column (header and content) with dates (start and end dates, responsible organization and status)
    ..................................................................................................... -->

    <div
      class="sidenav chart-column responsible{{(this.sidebarResponsibleStatus)?'':' d-none'}}"
      [ngStyle]="sidebarResponsibleStyle"
      fxLayout="column">

      <!-- header of second column (time period) -->
      <div class="sidenav-header">

        <div class="float-left">
          <div ngbDropdown #changeAllStartDatesDrop="ngbDropdown" class="d-inline-block">

            <!-- Dropdown for sort by time period in the header of the second column -->
            <button class="btn btn-outline-secondary btn-xs mr-2 ml-2" id="changeAllStartDate" ngbDropdownToggle
                    [disabled]="(compareMode | async) || isVersionOf || !(canAdd$ | async)">
              {{'working-plan.chart.column.changeStartDate' | translate}}
            </button>

            <div ngbDropdownMenu class="block-change-start-date font-size-07 p-2" aria-labelledby="changeAllStartDate">
              <button type="button" class="close" data-dismiss="alert" attr.aria-label="{{'working-plan.chart.column.changeStartDateClose' | translate}}"
                      (click)="changeAllStartDatesDrop.close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="font-weight-bold mb-1">{{'working-plan.chart.column.changeStartDate' | translate}}</div>
              <div class="mb-3">{{'working-plan.chart.column.changeStartDate.description' | translate}}</div>
              <div id="changeAllStartDateDaysInput" class="font-weight-bold mb-1">{{'working-plan.chart.column.changeStartDate.input.description' | translate}}</div>
              <form>
                <div>
                  <mat-form-field floatLabel="never" appearance="fill" class="p-0 mb-3" aria-labelledby="changeAllStartDateDaysInput">
                    <input matInput (change)="updateChangeStartDateDays($event?.target?.value)" type="number" min="1" value="1" class="px-2">
                  </mat-form-field>
                </div>
                <div class="d-flex align-items-end">
                  <div>
                    <div id="changeAllStartDateDaysRadio" class="font-weight-bold">{{'working-plan.chart.column.changeStartDate.radio.description' | translate}}</div>
                    <mat-radio-group (change)="updateChangeStartDateDirection($event.source.value)" class="block-change-start-date-radio" aria-labelledby="changeAllStartDateDaysRadio">
                      <mat-radio-button [value]="'later'" checked>
                        {{'working-plan.chart.column.changeStartDate.radio.later' | translate}}
                      </mat-radio-button>
                      <mat-radio-button [value]="'earlier'">
                        {{'working-plan.chart.column.changeStartDate.radio.earlier' | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="ml-auto">
                    <button type="submit" class="btn btn-primary btn-sm" (click)="updateAllDateRange()" [disabled]="(isProcessingWorkpackage() | async)">
                      <span *ngIf="!(isProcessingWorkpackage() | async)">
                        {{'working-plan.chart.column.changeStartDate.apply' | translate}}
                      </span>
                      <span *ngIf="(isProcessingWorkpackage() | async)">
                        <i class='fas fa-circle-notch fa-spin'></i> {{'working-plan.chart.column.changeStartDate.saving' | translate}}
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="float-right">

          <!-- toggle-button "angle-double-left" to collapse the "Period" column, toggles with button angle-double-right further up in this code -->
          <!-- ................................................................................................................................. -->
          <button type="button" class="btn btn-link btn-xs mr-2{{(this.sidebarResponsibleStatus)?'':' d-none'}}" (click)="sidebarStatusToggle()" title="{{'working-plan.chart.column.collapse' | translate}}">
            <i class="fas fa-angle-double-left"></i>
          </button>
        </div>

      </div> <!-- end sidenav-header -->

      <!-- ....................................................................................................
      Second Column: Content table rows
      ..................................................................................................... -->

      <!-- Content second row with all table rows -->
      <mat-tree class="tree pt-0" fxFlex [dataSource]="dataSource" [treeControl]="treeControl" [ngStyle]="sidebarResponsibleStyle">

        <!-- Single Row  of second column -->
        <mat-tree-node *matTreeNodeDef="let node" class="tree-node-customization"
                       [class.calendar-title-cell-over]="chartChangeColorIsOver.get(node.id)"
                       [class.calendar-title-cell-now-added]="(hasBeenNowAdded(node.id) | async)"
                       [id]="node.id"
                       (mouseover)="chartChangeColor(node.id, true)"
                       (mouseout)="chartChangeColor(node.id, false)">

          <!-- Form Group Start/End-Date -->
          <div class="ml-05 mt-1 font-size-07 sy-start-end-date-block">
            <!-- Headline Start / End-Dates -->
            <p class="font-weight-bold m-0 sy-start-and-end-date-header">{{'working-plan.chart.column.dates' | translate}}</p>

            <!-- Start-Date -->
            <mat-form-field *ngIf="node.type != 'milestone'" floatLabel="never" appearance="fill" class="p-0 sy-start-date-form">
              <mat-label>{{'working-plan.chart.column.dates.start' | translate}}</mat-label>
              <input [disabled]="(compareMode | async) || isVersionOf || !(canAdd$ | async)" matInput type="text"
                     matInput type="text"
                     ngbDatepicker #startDate="ngbDatepicker"
                     container="body"
                     [minDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.start?.full) : null"
                     [maxDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.end?.full) : getDateStruct(node.dates?.end?.full)"
                     [value]="(node.dates?.start?.full) ? (node.dates?.start?.full) : ''"
                     (click)="startDate.toggle()"
                     (dateSelect)="updateDateRange(node, $event, node.dates?.end?.full)"/>
              <mat-icon *ngIf="!(compareMode | async) && !isVersionOf && (canAdd$ | async)"
                        matSuffix (click)="startDate.toggle()"
                        class="cursor-pointer">edit_calendar
              </mat-icon>
            </mat-form-field>

            <br *ngIf="node.type != 'milestone'">

            <!-- End-Date -->
            <mat-form-field floatLabel="never" appearance="fill" class="p-0 sy-end-date-form">
              <mat-label>{{'working-plan.chart.column.dates.end' | translate}}</mat-label>
              <input matInput type="text" ngbDatepicker #endDate="ngbDatepicker" (click)="endDate.toggle()" container="body"
                     [disabled]="(compareMode | async) || isVersionOf || !(canAdd$ | async)"
                     [minDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.start?.full) : getDateStruct(node.dates?.start?.full)"
                     [maxDate]="node.level > 0 ? getDateStruct(getParentStep(node).dates?.end?.full) : null"
                     [value]="(node.dates?.end?.full) ? (node.dates?.end?.full) : ''"
                     (dateSelect)="updateDateRange(node, (node.type != 'milestone')?node.dates?.start?.full:$event, $event)"/>
              <mat-icon *ngIf="!(compareMode | async) && !isVersionOf && (canAdd$ | async)"
                        matSuffix (click)="endDate.toggle()"
                        class="cursor-pointer">edit_calendar
              </mat-icon>
            </mat-form-field>

          </div><!-- End Form Group Start/End-Date -->

          <!-- input-field for responsible organization, see src/app/shared/authority-dropdown/authority-dropdown.component.html -->
          <div class="ml-05 mt-1 font-size-07 sy-responsible-organization-block">
            <p class="font-weight-bold m-0 sy-responsible-organization-header">{{'working-plan.chart.column.responsible' | translate}}</p>
            <ds-authority-dropdown floatLabel="never" class="min-width-large"
                                   [readOnly]="(compareMode | async) || isVersionOf || !(canAdd$ | async)"
                                   [fieldId]="'responsible'"
                                   [fieldName]="'responsible'"
                                   [vocabularyOptions]="(node.type != 'milestone') ? workpackageVocabularyOptions : milestoneVocabularyOptions"
                                   [initValue]="node.responsible"
                                   (change)="updateStepResponsible(node, $event)"></ds-authority-dropdown>
          </div>

          <!-- DropDown for status -->
          <div class="ml-05 mt-1 font-size-07 sy-status-block">
            <p class="font-weight-bold m-0 sy-status-header">{{'working-plan.chart.column.status' | translate}}</p>

            <mat-form-field appearance="fill" floatLabel="never" class="mr-05 min-width-small sy-status-form">
              <mat-select [disabled]="(compareMode | async) || isVersionOf || !(canAdd$ | async)" class="text-center" (selectionChange)="updateStepStatus(node, $event)" [(value)]="node.status">
                <mat-select-trigger>
                  <span><i dsWorkpackageStatusIcon
                           [status]="node?.status"></i> {{getStatusTypeLabel(node?.status)}}</span>
                </mat-select-trigger>
                <mat-option *ngFor="let statusType of (getStatusValues() | async)"
                            [value]="statusType.value">{{statusType.display}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

        </mat-tree-node><!-- end row second column -->
      </mat-tree><!-- end content second column -->
    </div><!-- end second column -->

    <!-- ....................................................................................................
    Third Column: Calendar-Table with headers, defined in
    src/app/working-plan/working-plan-chart/container/working-plan-chart-dates/working-plan-chart-dates.component.html
    ..................................................................................................... -->
    <ds-working-plan-chart-dates class="w-100"
                                 [chartChangeColorIsOver]="chartChangeColorIsOver"
                                 [compareMode]="compareMode"
                                 [dataSource]="dataSource"
                                 [datesMonth]="datesMonth"
                                 [datesQuarter]="datesQuarter"
                                 [datesYear]="datesYear"
                                 [milestonesMap]="milestonesMap"
                                 [treeControl]="treeControl"></ds-working-plan-chart-dates>
  </div>

</div>

<!-- purpose of this code unclear -->
<div *ngIf="!(isProcessingWorkpackage() | async) && (workpackages | async)?.length == 0">
  <hr>
  <h3 class="text-center text-muted" ><span>{{'working-plan.chart.toolbar.no-workpackages' | translate}}</span></h3>
</div>
