<div class="h-100 d-flex flex-column vertical-step">
  <div class="p-1 m-2 font-weight-bold d-flex justify-content-between title-content" title="{{getStepTitle() | async}}">
    <div class="title-clamp">
      <p title="{{getStepTitle() | async}}">{{getStepTitle() | async}}</p>
    </div>
    <span class="far fa-question-circle text-info"
       [ngbTooltip]="(getStepInfoTitle() | async)"
       container="body"></span>
  </div>
  <div id="{{(impactPathwayStep$ | async)?.id}}"
       class="d-flex p-2 h-100 flex-column">
    <ipw-impact-path-way-task *ngFor="let task of (getTasks() | async); let i = index"
                              class="mb-sm-1 mb-lg-4"
                              [projectId]="projectId"
                              [impactPathwayId]="(impactPathwayStep$ | async)?.parentId"
                              [impactPathwayStepId]="(impactPathwayStep$ | async)?.id"
                              [impactPathwayStepType]="(impactPathwayStep$ | async)?.type"
                              [data]="task"
                              [selectable]="false"
                              [stepHasDetail]="(impactPathwayStep$ | async)?.hasDetail()"
                              [taskPosition]="i"
                              [isObjectivePage]="false"
                              (selected)="onTaskSelected($event)">
    </ipw-impact-path-way-task>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-link pr-0 open-modal"
            title="{{'impact-pathway.add.btn' | translate}}"
            (click)="createTask(); $event.stopPropagation()">
      <i class="fas fa-plus-circle fa-2x"></i>
    </button>
  </div>
</div>
