<ds-alert [content]="'submission.sections.upload.info'"
          [dismissible]="true"
          [type]="AlertTypeEnum.Info"></ds-alert>

<!-- <ds-alert [type]="AlertTypeEnum.Info">
  <p class="text-center m-0 p-0 d-flex justify-content-center align-items-center">
        <span><i class="fas fa-cloud-upload" aria-hidden="true"></i>{{dropMsg | translate}}{{'uploader.or' | translate}}
          <button class="btn btn-link m-0 p-0" (click)="browse(submissionUploaderRef)">
            {{'uploader.browse' | translate}}
          </button>
        </span>
  </p>
</ds-alert> -->

<div class="well ds-base-drop-zone mt-1 mb-3 text-muted">
    <div class="text-center m-0 p-2 d-flex justify-content-center align-items-center ng-star-inserted">
      <span><i aria-hidden="true" class="fas fa-upload"></i> {{dropMsg | translate}}{{'uploader.or' | translate}} </span>
      <button class="btn btn-link ml-2 m-0 p-0" (click)="browse(submissionUploaderRef)">
        {{'uploader.browse' | translate}}
      </button>
    </div>
  </div>

<ng-container *ngIf="fileList.length == 0">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"><span class="text-muted">{{'submission.sections.upload.no-file-uploaded' | translate}}</span></h3>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="fileList.length > 0">

  <div *ngIf="collectionDefaultAccessConditions.length > 0" class="row">
    <div class="col-sm-12" >
      <ds-alert [type]="AlertTypeEnum.Warning">
        <ng-container *ngIf="collectionPolicyType === 1">
          {{ 'submission.sections.upload.header.policy.default.nolist' | translate:{ "collectionName": collectionName } }}
        </ng-container>
        <ng-container *ngIf="collectionPolicyType === 2">
          {{ 'submission.sections.upload.header.policy.default.withlist' | translate:{ "collectionName": collectionName } }}
        </ng-container>
        <span class="clearfix"></span>
        <ds-submission-section-upload-access-conditions [accessConditions]="collectionDefaultAccessConditions"></ds-submission-section-upload-access-conditions>
      </ds-alert>
    </div>
  </div>

  <ng-container *ngFor="let fileEntry of fileList">
    <ds-submission-upload-section-file
                                       [availableAccessConditionOptions]="availableAccessConditionOptions"
                                       [collectionId]="collectionId"
                                       [collectionPolicyType]="collectionPolicyType"
                                       [configMetadataForm]="(configMetadataForm$ | async)"
                                       [fileId]="fileIndexes[fileList.indexOf(fileEntry)]"
                                       [fileIndex]="fileList.indexOf(fileEntry)"
                                       [fileName]="fileNames[fileList.indexOf(fileEntry)]"
                                       [readOnly]="isReadOnly()"
                                       [sectionId]="sectionData.id"
                                       [submissionId]="submissionId"></ds-submission-upload-section-file>
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
  </ng-container>
</ng-container>
