<div>
  <div class="filters py-2">
    <ng-container *ngComponentOutlet="searchFilter injector: objectInjector;"></ng-container>
  </div>
  <ng-container *ngFor="let page of (filterValues$ | async)?.payload">
    <div [@facetLoad]="animationState">
      <ds-search-facet-range-option
        *ngFor="let value of page.page; trackBy: trackUpdate"
        [filterConfig]="filterConfig"
        [filterValue]="value"
        [inPlaceSearch]="inPlaceSearch"
      ></ds-search-facet-range-option>
    </div>
  </ng-container>
</div>
