<!-- 
  original version, changed in order to get entity classes to style the sidebar individually (rex 221125)
  <div id="cris-layout-leading" class="d-flex flex-column mt-5"> 
  -->
<div id="cris-layout-leading" class="{{'d-flex flex-column mt-5 ' + item.entityType}}">
  <div class="container text-right context-menu">
    <ds-context-menu *ngIf="showContextMenu" [contextMenuObject]="item" [contextMenuObjectType]="'ITEM'"></ds-context-menu>
  </div>
	<ds-cris-layout-matrix *ngIf="tab" [tab]="tab" [item]="item"></ds-cris-layout-matrix>
</div>