
<ds-collapsable-panel #ipwCollapse class="d-block mb-3"
                       [sidebarPanelTitle]="getStepTitle()"
                       [startOpen]="false"
                       [collapsable]="true">
  <ng-container ngProjectAs="panelIconTitle">
    <i dsQuestionsBoardIcon [questionsBoardType]="sectionType"></i>
  </ng-container>
  <ng-container ngProjectAs="panelContent">
    <div class="container py-2">

      <ng-container *ngIf="!hasAnyFunderRole">
        <ds-alert [content]="'submission.sections.upload.info'"
        [dismissible]="true"
        [type]="AlertTypeEnum.Info"></ds-alert>

        <ds-uploader *ngIf="(initializedUploaderOptions | async)"
                      [dropMsg]="dropMsg"
                      [dropOverDocumentMsg]="dropOverDocumentMsg"
                      [enableDragOverDocument]="true"
                      [uploadFilesOptions]="uploadFilesOptions"
                      (onCompleteItem)="onCompleteItem($event)"
                      (onUploadError)="onUploadError()"></ds-uploader>
      </ng-container>

      <ng-container *ngIf="fileList.length == 0 && !isLoading">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center"><span class="text-muted">{{'submission.sections.upload.no-file-uploaded' | translate}}</span></h3>
          </div>
        </div>
      </ng-container>

      <ds-themed-loading *ngIf="isLoading"></ds-themed-loading>

      <ng-container *ngIf="fileList.length > 0">

        <div *ngIf="collectionDefaultAccessConditions.length > 0" class="row">
          <div class="col-sm-12" >
            <ds-alert [type]="AlertTypeEnum.Warning">
              <ng-container *ngIf="collectionPolicyType === 1">
                {{ 'submission.sections.upload.header.policy.default.nolist' | translate:{ "collectionName": collectionName } }}
              </ng-container>
              <ng-container *ngIf="collectionPolicyType === 2">
                {{ 'submission.sections.upload.header.policy.default.withlist' | translate:{ "collectionName": collectionName } }}
              </ng-container>
              <span class="clearfix"></span>
              <ds-submission-section-upload-access-conditions [accessConditions]="collectionDefaultAccessConditions"></ds-submission-section-upload-access-conditions>
            </ds-alert>
          </div>
        </div>

        <ng-container *ngFor="let fileEntry of fileList">
          <ds-submission-upload-section-file
                                            [singleAccessCondition]="singleAccessCondition"
                                            [availableAccessConditionOptions]="availableAccessConditionOptions"
                                            [collectionId]="(getCollection() | async)"
                                            [configMetadataForm]="(configMetadataForm$ | async)"
                                            [collectionPolicyType]="collectionPolicyType"
                                            [fileId]="fileIndexes[fileList.indexOf(fileEntry)]"
                                            [fileIndex]="fileList.indexOf(fileEntry)"
                                            [fileName]="fileNames[fileList.indexOf(fileEntry)]"
                                            [sectionId]="uploadConfigId"
                                            [questionBoardId]="questionsBoardObject.id"
                                            [disableActions]="hasAnyFunderRole"
                                            [questionsBoardEditMode]="questionsBoardEditMode"
                                            (deleteUploadedFile)="onFileEventChanges($event)"
                                            (editUploadedFile)="onFileEventChanges($event)"
                                            ></ds-submission-upload-section-file>
          <div class="row">
            <div class="col-md-12">
              <hr/>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ds-collapsable-panel>

