@import '../../../../styles/variables';

:host {
  background-color: white;
  z-index: 1;

  cursor: auto !important;

}

.simple-item-focus {
  box-shadow: 0 0 0 .2rem var(--bs-link-color) !important;
}

.task-header {
  height: 70px;
  margin: 0;
}

.task-title p {
  font-size: 0.9em;
  margin: 0;
}

.task-title:hover p {
  text-decoration: underline;
  cursor: pointer;
}

.task-title, .task-type {
  overflow: hidden;
}

.title-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.task-content {
  height: 50px;
  margin: 0;
}

.task-type p {
  font-size: 0.7em;
  margin: 0;
}

.type-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ipw-stacked-icons {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.4rem;
  width: 0.5em;
}

.ipw-stacked-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  font-size: 0.8rem;
}

.task-container{
  min-height: 120px;
  box-shadow: 1px 1px 1px 1px var(--bs-gray-400);
}

.task-right-bar{
  display: flex;
  flex-direction: column;
  width: 100%;

  .task-content{
    padding: 15px 10px 10px 10px;
    flex-basis: 50%;
    flex-grow: 1;
    height: auto;
  }

}
