<div [class.simple-item-focus]="selectStatus.value">
  <ng-content></ng-content>
  <div class="simple-item-wrap d-flex flex-column"
       [class.simple-item-focus]="(hasFocus$ | async)"
       ipwTaskColor
       [taskType]="data.type"
       (click)="setFocus($event)">
    <div class="simple-item-header p-1">
      <div class="simple-item-title title-clamp font-weight-bold">
        <p title="{{title}}">{{title}}</p>
      </div>
    </div>
    <div class="simple-item-content p-1 mt-1">
      <div class="simple-item-type type-clamp">
        <p title="{{type$ | async}}">{{type$ | async}}</p>
      </div>
    </div>
  </div>
</div>
