@import '../../../../styles/variables';

:host {
  background-color: white;
  z-index: 1;

  .simple-item-wrap {
    min-height: 100px;
    border-left-width: ($border-width*5) !important;
    border: $border-width solid map-get($theme-colors, dark);
  }

}

.simple-item-focus {
  border-radius: $border-radius;
  border-color: var(--bs-link-color);
  box-shadow: 0 0 0 .2rem var(--bs-link-color);
  background-color: var(--ds-highlight-backgroud-color);
}

.simple-item-disabled {
  cursor: not-allowed;
}

.simple-item-header {
  height: 70px;
  margin: 0;
}
.simple-item-title, .simple-item-type {
  overflow: hidden;
}

.simple-item-title p {
  margin: 0;
}

.title-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.simple-item-content {
  height: 50px;
}

.simple-item-content p {
  font-size: 15px;
}

.type-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
